:root {
  --primary: #1B2F3F;
  --secondary: #2E465E;
  --white: #EBEFF2;
  --acent: #FFA656;
  --gray: #54595F;
}

section.new-project {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/home-page/mazimura-brands.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 50px;
  margin-bottom: 10px;
  gap: 20px;
}
section.new-project img {
  width: 200px;
  margin-bottom: 30px;
}
section.new-project h1 {
  font-size: 40px;
  color: var(--white);
}
section.new-project span {
  color: var(--acent);
  font-size: 21px;
  margin-bottom: 10px;
  text-align: center;
}
section.new-project p {
  font-size: 21px;
  color: var(--white);
  text-align: center;
}

section.envirozyme {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../assets/images/home-page/canvas-logo.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 50px;
  margin-bottom: 10px;
  gap: 20px;
}
section.envirozyme img {
  width: 200px;
  margin-bottom: 30px;
}
section.envirozyme h1 {
  font-size: 40px;
  color: var(--white);
}
section.envirozyme span {
  color: var(--acent);
  font-size: 21px;
  margin-bottom: 10px;
  text-align: center;
}
section.envirozyme p {
  font-size: 21px;
  color: var(--white);
  text-align: center;
}

section.featured-projects {
  padding: 0px 0 10px 0;
}
section.featured-projects .container {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  gap: 10px;
}
section.featured-projects .container .project {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 50px;
  gap: 5px;
}
section.featured-projects .container .project img.project-icons {
  width: 150px;
  margin-bottom: 80px;
}
section.featured-projects .container .project img.grandeur-meats {
  width: 300px;
}
section.featured-projects .container .project img.vah-image {
  width: 400px;
}
section.featured-projects .container .project h1 {
  font-size: 30px;
  color: var(--white);
}
section.featured-projects .container .project h1.grandeur-heading, section.featured-projects .container .project .vah {
  color: var(--secondary);
}
section.featured-projects .container .project p.grandeur-paragraphy, section.featured-projects .container .project .vah {
  color: var(--secondary);
}
section.featured-projects .container .project .grandeur,
section.featured-projects .container .project .vah {
  color: var(--primary);
}
section.featured-projects .container .project p {
  font-size: 19px;
  text-align: center;
  color: var(--white);
}

.grandeur-meats, .vah {
  background-color: var(--white);
}

.niche {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../assets/images/home-page/niche.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.car-guvi {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../assets/images/home-page/car-guvi.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.eca {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/home-page/eca-logo.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prime-drive {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../assets/images/home-page/prime.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dust-me {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/home-page/dustme.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1024px) {
  section.new-project {
    height: 80vh;
    padding-bottom: 50px;
    gap: 10px;
  }
  section.envirozyme {
    height: 80vh;
    padding-bottom: 50px;
    margin-bottom: 0;
  }
  section.envirozyme img {
    width: 200px;
    margin-bottom: 30px;
  }
  section.envirozyme h1 {
    font-size: 40px;
    color: var(--white);
  }
  section.envirozyme span {
    color: var(--acent);
    font-size: 21px;
    margin-bottom: 10px;
    text-align: center;
  }
  section.envirozyme p {
    font-size: 21px;
    color: var(--white);
    text-align: center;
  }
  section.featured-projects {
    padding: 10px 0 10px 0;
  }
  section.featured-projects .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  section.featured-projects .container .project {
    height: 70vh;
    padding-bottom: 50px;
    gap: 5px;
  }
  section.featured-projects .container .project img.project-icons {
    width: 200px;
    margin-bottom: 80px;
  }
  section.featured-projects .container .project img.grandure-meats {
    width: 330px;
  }
  section.featured-projects .container .project img.vah-image {
    width: 330px;
  }
  section.featured-projects .container .project h1 {
    font-size: 30px;
    color: var(--white);
  }
  section.featured-projects .container .project p {
    font-size: 19px;
    text-align: center;
    color: var(--white);
  }
}
@media (max-width: 768px) {
  section.new-project {
    height: 80vh;
    padding-bottom: 30px;
    gap: 10px;
  }
  section.new-project img {
    width: 100px;
    margin-bottom: 10px;
  }
  .about-me {
    padding: 120px 0 50px 0;
    gap: 20px;
    margin-bottom: 10px;
  }
  .about-me img {
    width: 100px;
  }
  .about-me h1 {
    font-size: 40px;
    color: var(--primary);
    text-align: center;
  }
  .about-me h1.featured-projects {
    font-size: 40px;
    margin-top: 100px;
  }
  .about-me p {
    font-size: 19px;
    width: 350px;
  }
  section.featured-projects {
    padding: 20px 0 10px 0;
  }
  section.featured-projects .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  section.featured-projects .container .project {
    height: 80vh;
    padding-bottom: 30px;
    gap: 5px;
  }
  section.featured-projects .container .project img.project-icons {
    width: 150px;
    margin-bottom: 80px;
  }
  section.featured-projects .container .project img.grandeur-image {
    width: 230px;
  }
  section.featured-projects .container .project img.vah-image {
    width: 130px;
  }
  section.featured-projects .container .project h1 {
    font-size: 30px;
    color: var(--white);
  }
  section.featured-projects .container .project p {
    font-size: 19px;
    text-align: center;
    color: var(--white);
  }
}
@media (max-width: 425px) {
  section.new-project {
    height: 80vh;
    padding-bottom: 30px;
    gap: 10px;
  }
  section.new-project img {
    width: 100px;
    margin-bottom: 10px;
  }
  .about-me {
    padding: 120px 0 50px 0;
    gap: 20px;
    margin-bottom: 10px;
  }
  .about-me img {
    width: 100px;
  }
  .about-me h1 {
    font-size: 40px;
    color: var(--primary);
    text-align: center;
  }
  .about-me h1.featured-projects {
    font-size: 40px;
    margin-top: 100px;
    width: 300px;
  }
  .about-me p {
    font-size: 19px;
    width: 300px;
  }
  section.grandeur {
    padding: 100px 0;
  }
  section.grandeur img {
    width: 300px;
  }
  section.grandeur h1 {
    font-size: 40px;
    text-align: center;
  }
  section.grandeur p {
    font-size: 19px;
  }
  section.featured-projects {
    padding: 20px 0 10px 0;
  }
  section.featured-projects .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  section.featured-projects .container .project {
    height: 70vh;
    padding-bottom: 30px;
    gap: 5px;
  }
  section.featured-projects .container .project img.project-icons {
    width: 150px;
    margin-bottom: 80px;
  }
  section.featured-projects .container .project img.grandeur-image {
    width: 230px;
  }
  section.featured-projects .container .project img.vah-image {
    width: 130px;
  }
  section.featured-projects .container .project h1 {
    font-size: 30px;
    color: var(--white);
  }
  section.featured-projects .container .project p {
    font-size: 19px;
    text-align: center;
    color: var(--white);
  }
}/*# sourceMappingURL=index.css.map */