section.large-panels {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 50px;
  margin-bottom: 10px;
  gap: 20px;
}
section.large-panels img {
  width: 200px;
  margin-bottom: 30px;
}
section.large-panels img.aa-logo {
  width: 300px;
  opacity: 0.5;
}
section.large-panels h1 {
  font-size: 60px;
  color: var(--white);
}
section.large-panels span {
  color: var(--accent);
  font-size: 21px;
  margin-bottom: 10px;
  text-align: center;
}
section.large-panels p {
  font-size: 21px;
  color: var(--white);
  text-align: center;
}

.aa {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/home-page/aa.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.touchbase {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../assets/images/home-page/touchbase.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section.featured-projects {
  padding: 0px 0 10px 0;
}
section.featured-projects .container {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  gap: 10px;
}
section.featured-projects .container .project {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 50px;
  gap: 5px;
}
section.featured-projects .container .project img.logo-symbol {
  width: 150px;
  margin-bottom: 20px;
}
section.featured-projects .container .project img.project-icons {
  width: 150px;
  margin-bottom: 80px;
}
section.featured-projects .container .project img.grandeur-meats {
  width: 300px;
}
section.featured-projects .container .project img.vah-image {
  width: 400px;
}
section.featured-projects .container .project h1 {
  font-size: 40px;
  color: var(--white);
}
section.featured-projects .container .project h1.grandeur-heading,
section.featured-projects .container .project .vah {
  color: var(--secondary);
}
section.featured-projects .container .project p.grandeur-paragraphy,
section.featured-projects .container .project .vah {
  color: var(--secondary);
}
section.featured-projects .container .project .grandeur,
section.featured-projects .container .project .vah {
  color: var(--primary);
}
section.featured-projects .container .project p {
  font-size: 19px;
  text-align: center;
  color: var(--white);
}

.grandeur-meats,
.vah {
  background-color: var(--white);
}

.esi {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/home-page/esi-apple-watch.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.natiology {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/home-page/natiology.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ethereal {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(../assets/images/home-page/ethereal.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mazi-brands {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(../assets/images/home-page/mazi-brands.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1024px) {
  section.large-panels {
    height: 80vh;
    padding-bottom: 50px;
    gap: 10px;
  }
  section.large-panels img.aa-logo {
    width: 250px;
    opacity: 0.5;
  }
  section.large-panels img {
    width: 150px;
  }
  section.large-panels h1 {
    font-size: 50px;
  }
  section.featured-projects {
    padding: 0px 0 10px 0;
  }
  section.featured-projects .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  section.featured-projects .container .project {
    height: 70vh;
    padding-bottom: 50px;
    gap: 5px;
  }
  section.featured-projects .container .project img.logo-symbol {
    width: 100px;
    margin-bottom: 20px;
  }
  section.featured-projects .container .project img.project-icons {
    width: 200px;
    margin-bottom: 80px;
  }
  section.featured-projects .container .project img.grandure-meats {
    width: 330px;
  }
  section.featured-projects .container .project img.vah-image {
    width: 330px;
  }
  section.featured-projects .container .project h1 {
    font-size: 30px;
    color: var(--white);
  }
  section.featured-projects .container .project p {
    font-size: 19px;
    text-align: center;
    color: var(--white);
  }
}
@media (max-width: 768px) {
  section.large-panels {
    height: 80vh;
    padding-bottom: 50px;
    gap: 10px;
  }
  section.large-panels img.aa-logo {
    width: 150px;
    opacity: 0.7;
  }
  section.large-panels img {
    width: 100px;
    margin-bottom: 10px;
  }
  section.large-panels h1 {
    font-size: 40px;
    color: var(--white);
  }
  section.featured-projects {
    padding: 0 0 10px 0;
  }
  section.featured-projects .container {
    padding: 0 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  section.featured-projects .container .project {
    height: 80vh;
    padding-bottom: 50px;
    gap: 5px;
  }
  section.featured-projects .container .project img.project-icons {
    width: 150px;
    margin-bottom: 80px;
  }
  section.featured-projects .container .project img.grandeur-meats {
    width: 250px;
  }
  section.featured-projects .container .project img.vah-image {
    width: 330px;
  }
  section.featured-projects .container .project h1 {
    font-size: 40px;
    color: var(--white);
  }
  section.featured-projects .container .project p {
    font-size: 21px;
    text-align: center;
    color: var(--white);
  }
}
@media (max-width: 425px) {
  section.large-panels {
    height: 70vh;
    padding-bottom: 50px;
    gap: 10px;
  }
  section.large-panels img {
    width: 100px;
    margin-bottom: 10px;
  }
  section.large-panels h1 {
    font-size: 40px;
    color: var(--white);
  }
  section.featured-projects {
    padding: 0 0 10px 0;
  }
  section.featured-projects .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  section.featured-projects .container .project {
    height: 70vh;
    padding-bottom: 50px;
    gap: 5px;
  }
  section.featured-projects .container .project img.project-icons {
    width: 150px;
    margin-bottom: 80px;
  }
  section.featured-projects .container .project img.grandeur-meats {
    width: 230px;
  }
  section.featured-projects .container .project img.vah-image {
    width: 100%;
    padding: 10px;
  }
  section.featured-projects .container .project h1 {
    font-size: 40px;
    color: var(--white);
  }
  section.featured-projects .container .project p {
    font-size: 21px;
    text-align: center;
    color: var(--white);
  }
}
header {
  background-color: rgba(27, 47, 63, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  z-index: 999;
  padding: 0 15px;
}
header nav.navigation-bar {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
header nav.navigation-bar .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav.navigation-bar .logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav.navigation-bar .logo a img {
  display: block;
  width: 110px;
  opacity: 0.8;
  transition: all 0.3s ease 0s;
}
header nav.navigation-bar .logo a img:hover {
  opacity: 1;
}
header nav.navigation-bar .logo a img.mobile-logo {
  display: none;
}
header nav.navigation-bar .nav-items ul {
  list-style: none;
  display: flex;
  padding: 8px 15px;
  gap: 30px;
}
header nav.navigation-bar .nav-items ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
  border-radius: 0 0 2px 2px;
  transition: all 0.5s ease 0s;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
header nav.navigation-bar .nav-items ul li a:hover {
  opacity: 1;
}
header nav.navigation-bar .nav-items ul.mobile-menu {
  display: none;
}
header nav.navigation-bar .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: -13px;
}
header nav.navigation-bar .social-media ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav.navigation-bar .social-media ul li {
  display: block;
}
header nav.navigation-bar .social-media ul li a {
  display: flex;
  text-decoration: none;
  color: var(--white);
  padding: 7px 15px;
  font-size: 20px;
  transition: all 0.5s ease 0s;
  border-radius: 0 0 2px 2px;
  opacity: 0.6;
}
header nav.navigation-bar .social-media ul li a img {
  width: 17px;
  color: #EBEFF2;
}
header nav.navigation-bar .social-media ul li a:hover {
  opacity: 1;
}

@media (max-width: 854px) {
  header nav.navigation-bar .nav-items {
    margin-right: -13px;
  }
  header nav.navigation-bar .nav-items ul {
    list-style: none;
    gap: 30px;
  }
  header nav.navigation-bar .nav-items ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
    border-radius: 0 0 2px 2px;
    transition: all 0.5s ease 0s;
  }
  header nav.navigation-bar .nav-items ul li a:hover {
    opacity: 1;
  }
  header nav.navigation-bar .social-media {
    display: none;
  }
}
@media (max-width: 600px) {
  header nav.navigation-bar .nav-items ul {
    display: none;
  }
  header nav.navigation-bar .nav-items ul.mobile-menu {
    display: flex;
  }
}
@media (max-width: 447px) {
  header nav.navigation-bar .logo a img {
    display: none;
  }
  header nav.navigation-bar .logo a img.mobile-logo {
    display: block;
    width: 30px;
  }
  header nav.navigation-bar .nav-items ul {
    display: none;
  }
  header nav.navigation-bar .nav-items ul.mobile-menu {
    display: flex;
  }
}/*# sourceMappingURL=index.css.map */