section.website-under-construction {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/images/home-page/website-under-maintanance.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    img {
        width: 90px;
    }

    h1 {
        color: var(--white);
        font-size: 70px;
        text-align: center;
    }

    p {
        color: var(--white);
        font-size: 30px;
        text-align: center;
        width: 500px;
    }

    .social-media {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
         
        a {

            img.behance {
                width: 40px;
                display: block;
            }

            img.instagram {
                width: 30px;
                display: block;
            }
    
            img.facebook {
                width: 30px;
                display: block;
            }
        }
    }
}

@media (max-width: 1024px) {

    section.website-under-construction {
        height: 100vh;
        gap: 20px;
    
        img {
            width: 70px;
        }
    
        h1 {
            color: var(--white);
            font-size: 50px;
            text-align: center;
        }
    
        p {
            color: var(--white);
            font-size: 25px;
            text-align: center;
            width: 400px;
        }
    
        .social-media {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
             
            a {
    
                img.behance {
                    width: 40px;
                    display: block;
                }
    
                img.instagram {
                    width: 30px;
                    display: block;
                }
        
                img.facebook {
                    width: 30px;
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 425px) {

    section.website-under-construction {
        height: 100vh;
        gap: 20px;
    
        img {
            width: 60px;
        }
    
        h1 {
            color: var(--white);
            font-size: 40px;
            text-align: center;
        }
    
        p {
            width: 300px;
        }
    
        .social-media {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
             
            a {
    
                img.behance {
                    width: 40px;
                    display: block;
                }
    
                img.instagram {
                    width: 30px;
                    display: block;
                }
        
                img.facebook {
                    width: 30px;
                    display: block;
                }
            }
        }
    }
}

.about-me {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/images/home-page/simbahm-home-page-bg-image.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;

    img {
        width: 100px;
    }

    h1 {
        font-size: 50px;
        color: var(--white);
        text-align: center;
    }

    h1.featured-projects {
        font-size: 40px;
        text-align: center;
        letter-spacing: 0.11rem;
        text-transform: uppercase;
        margin-top: 100px;
        text-align: center;
    }

    p {
        color: var(--white);
        line-height: 1.38105;
        letter-spacing: .031em;
        font-size: 21px;
        width: 440px;
        text-align: center;
    }
}

.new-project {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../assets/images/home-page/mazimura-brands-logo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.envirozyme {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../assets/images/home-page/envirozyme-logo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section.large-panel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 50px;
    gap: 20px;

    h1 {
        font-size: 40px;
        color: var(--white);
    }

    span {
        color: var(--acent);
        font-size: 21px;
        margin-bottom: 10px;
        text-align: center;
    }

    p {
        font-size: 21px;
        color: var(--white);
        text-align: center;
    }
}

.vah {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: var(--white);
    margin-bottom: 10px;
    padding-bottom: 50px;

    img {
        width: 400px;
    }

    img.vah-image {
        width: 200px;
        margin-bottom: 50px;
    }

    h1 {
        font-size: 40px;
        color: var(--primary);
        text-align: center;
    }

    span {
        color: var(--acent);
        font-size: 21px;
        margin-bottom: 10px;
        text-align: center;
    }

    p {
        font-size: 21px;
        color: var(--gray);
        text-align: center;
    }
}

section.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 10px;
    margin-bottom: 10px;
    gap: 10px;

    .grandeur-meats {
        background-color: var(--white);
    }

    .project {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        padding-bottom: 50px;
        gap: 10px;

        img {
            width: 300px;
        }

        h1 {
            color: var(--white);
            font-size: 40px;
            text-align: center;
        }

        h1.title {
            color: var(--primary);
            font-size: 50px;
            text-align: center;
        }

        .grandeur-meats-title,
        .grandeur-meats-p {
            color: var(--primary);
        }

        p.description {
            color: var(--gray);
            font-size: 21px;
        }

        p {
            color: var(--white);
            font-size: 21px;
            text-align: center;
        }
    }
}

footer {
    display: flex;

    p {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: var(--gray);
        letter-spacing: .011rem;
    }
}

.niche {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.3)), url(../assets/images/home-page/niche-technologies-logo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.car-guvi {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.3)), url(../assets/images/home-page/car-guvi-logo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.prime-drive {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url(../assets/images/home-page/prime-drive-logo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.eca {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url(../assets/images/home-page/ellchart-chartered-accountants-logo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dustme {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.5)), url(../assets/images/home-page/dustme-logo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.louis-kitchens {
    background-image: url(../assets/images/home-page/louis-kitchens-logo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 1024px) {

    .about-me {
        padding: 120px 0 50px 0;
        gap: 20px;

    
        img {
            width: 80px;
        }
    
        h1 {
            font-size: 40px;
            color: var(--white);
            text-align: center;
        }
    
        p {
            font-size: 17px;
            width: 350px;
        }
    }

    .grandeur-meats,
    .vah {
        padding: 100px 0;
        margin-bottom: 10px;
        padding-bottom: 50px;
    
        img {
            width: 350px;
        }
    
        h1 {
            font-size: 40px;
            color: var(--primary);
            text-align: center;
        }
    
        span {
            color: var(--acent);
            font-size: 17px;
            margin-bottom: 10px;
            text-align: center;
        }
    
        p {
            font-size: 21px;
            color: var(--gray);
            text-align: center;
        }
    }

    section.grid-container {
        grid-template-columns: repeat(1, 1fr);
    
        .project {
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            padding-bottom: 50px;
            gap: 5px;
    
            h1 {
                color: var(--white);
                font-size: 40px;
            }
    
            p {
                color: var(--white);
                font-size: 21px;
            }
        }
    }
}

@media (max-width: 768px) {

    .about-me {
        padding: 120px 0 50px 0;
        gap: 20px;
    
        img {
            width: 80px;
        }
    
        h1 {
            font-size: 40px;
            color: var(--white);
            text-align: center;
        }
    
        p {
            font-size: 17px;
            width: 350px;
        }
    }

    section.grid-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 10px 0;
    
        .project {
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            padding-bottom: 50px;
            gap: 5px;
    
            h1 {
                color: var(--white);
                font-size: 40px;
            }
    
            p {
                color: var(--white);
                font-size: 21px;
            }

            h1.title {
                color: var(--primary);
                font-size: 40px;
            }
    
            p.description {
                color: var(--gray);
                font-size: 21px;
            }
        }
    }
}

@media (max-width: 425px) {

    .about-me {
        padding: 120px 0 50px 0;
        gap: 20px;
    
        img {
            width: 70px;
        }
    
        h1 {
            font-size: 40px;
            color: var(--white);
            text-align: center;
        }

        h1.featured-projects {
            font-size: 30px;
            width: 200px;
            line-height: 1.3em;
        }
    
        p {
            font-size: 17px; 
            width: 300px;
        }
    }

    .grandeur-meats,
    .vah {
        padding: 100px 0;
        margin-bottom: 10px;
        padding-bottom: 50px;
    
        img {
            width: 300px;
        }
    
        h1 {
            font-size: 40px;
            color: var(--primary);
            text-align: center;
        }
    
        span {
            color: var(--acent);
            font-size: 17px;
            margin-bottom: 10px;
            text-align: center;
        }
    
        p {
            font-size: 21px;
            color: var(--gray);
            text-align: center;
        }
    }

    section.grid-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 10px 0;
    
        .project {
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            padding-bottom: 30px;
            gap: 5px;
    
            h1 {
                color: var(--white);
                font-size: 40px;
            }
    
            p {
                color: var(--white);
                font-size: 21px;
            }

            img {
                width: 150px;
            }

            h1.title {
                color: var(--primary);
                font-size: 40px;
            }
    
            p.description {
                color: var(--gray);
                font-size: 21px;
            }
        }
    }
}