.web-public-holiday {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../assets/images/home-page/robert-mugabe.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;

    .container {
        height: inherit;
        max-width: 1000px;
        margin: 0 auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
        color: var(--white);
        gap: 10px;
        padding: 0 15px;

        span {
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
        }

        h1.title {
            font-size: 40px;
        }

        p.date {
            color: var(--white);
            font-style: italic;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
        }

        img {
            width: 30px;
            margin: 30px 0 10px 0;
        }

        hr {
            width: 200px;
            opacity: 0.5;
        }

        p {
            color: var(--white);
            font-size: 21px;
            line-height: 1.4705882353;
            font-weight: 400;
            letter-spacing: 0.022em;
            max-width: 450px;
        }

        .caption {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            hr {
                width: 20px;
                opacity: 0.5;
            }

            p {
                color: var(--white);
                font-style: italic;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

section.large-panels {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 50px;
    margin-bottom: 10px;
    gap: 20px;

    img {
        width: 200px;
        margin-bottom: 30px;
    }

    img.aa-logo {
        width: 300px;
        opacity: 0.5;
    }

    h1 {
        font-size: 60px;
        color: var(--white);
    }

    span {
        color: var(--accent);
        font-size: 21px;
        margin-bottom: 10px;
        text-align: center;
    }

    p {
        font-size: 21px;
        color: var(--white);
        text-align: center;
    }
}

.talent {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
        url(../assets/images/home-page/talent.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.touchbase {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
        url(../assets/images/home-page/touchbase.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section.featured-projects {
    padding: 0px 0 10px 0;

    .container {
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        gap: 10px;

        .project {
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            padding-bottom: 50px;
            gap: 5px;

            img.logo-symbol {
                width: 150px;
                margin-bottom: 20px;
            }

            img.project-icons {
                width: 150px;
                margin-bottom: 80px;
            }

            img.grandeur-meats {
                width: 300px;
            }

            img.vah-image {
                width: 400px;
            }

            h1 {
                font-size: 40px;
                color: var(--white);
            }

            h1.grandeur-heading,
            .vah {
                color: var(--secondary);
            }

            p.grandeur-paragraphy,
            .vah {
                color: var(--secondary);
            }

            .grandeur,
            .vah {
                color: var(--primary);
            }

            p {
                font-size: 19px;
                text-align: center;
                color: var(--white);
            }
        }
    }
}

.grandeur-meats,
.vah {
    background-color: var(--white);
}

.aa {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
        url(../assets/images/home-page/aa.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.esi {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../assets/images/home-page/esi-apple-watch.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.natiology {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../assets/images/home-page/natiology.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ethereal {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
        url(../assets/images/home-page/ethereal.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vah {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
        url(../assets/images/home-page/vah.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grandeur-meats {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
        url(../assets/images/home-page/gm.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1024px) {
    section.large-panels {
        height: 80vh;
        padding-bottom: 50px;
        gap: 10px;

        img.aa-logo {
            width: 250px;
            opacity: 0.5;
        }

        img {
            width: 150px;
        }

        h1 {
            font-size: 50px;
        }
    }

    section.featured-projects {
        padding: 0px 0 10px 0;

        .container {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            .project {
                height: 70vh;
                padding-bottom: 50px;
                gap: 5px;

                img.logo-symbol {
                    width: 100px;
                    margin-bottom: 20px;
                }

                img.project-icons {
                    width: 200px;
                    margin-bottom: 80px;
                }

                img.grandure-meats {
                    width: 330px;
                }

                img.vah-image {
                    width: 330px;
                }

                h1 {
                    font-size: 30px;
                    color: var(--white);
                }

                p {
                    font-size: 19px;
                    text-align: center;
                    color: var(--white);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .web-public-holiday {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url(../assets/images/home-page/robert-mugabe.webp);
        background-repeat: no-repeat;
        // background-position: unset;
        background-size: cover;
        height: 90vh;

        .container {
            color: var(--white);
            gap: 10px;
            padding: 0 15px;
            max-width: 500px;

            span {
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
            }

            h1.title {
                font-size: 30px;
            }

            p.date {
                font-size: 14px;
                font-weight: 600;
            }

            img {
                width: 25px;
                margin: 30px 0 10px 0;
            }

            hr {
                width: 100px;
                opacity: 0.5;
            }

            p {
                color: var(--white);
                font-size: 21px;
                line-height: 1.4705882353;
                font-weight: 400;
                letter-spacing: 0.022em;
            }

            .caption {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;

                hr {
                    width: 20px;
                    opacity: 0.5;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }

    section.large-panels {
        height: 80vh;
        padding-bottom: 50px;
        gap: 10px;

        img.aa-logo {
            width: 150px;
            opacity: 0.7;
        }

        img {
            width: 100px;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 40px;
            color: var(--white);
        }
    }

    section.featured-projects {
        padding: 0 0 10px 0;

        .container {
            padding: 0 0;
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;

            .project {
                height: 80vh;
                padding-bottom: 50px;
                gap: 5px;

                img.project-icons {
                    width: 150px;
                    margin-bottom: 80px;
                }

                img.grandeur-meats {
                    width: 250px;
                }

                img.vah-image {
                    width: 330px;
                }

                h1 {
                    font-size: 40px;
                    color: var(--white);
                }

                p {
                    font-size: 21px;
                    text-align: center;
                    color: var(--white);
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .web-public-holiday {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url(../assets/images/home-page/robert-mugabe.webp);
        background-repeat: no-repeat;
        background-position: unset;
        background-size: cover;
        height: 90vh;
        padding: 20px 0;

        .container {
            color: var(--white);
            gap: 10px;
            padding: 0 15px;
            max-width: 500px;
            padding: 0px 15px;

            span {
                font-size: 17px;
            }

            h1.title {
                font-size: 25px;
            }

            p.date {
                font-size: 14px;
            }

            img {
                width: 25px;
            }

            hr {
                width: 100px;
                opacity: 0.5;
            }

            p {
                font-size: 20px;
            }

            .caption {
                gap: 10px;
                align-items: center;
                display: flex;
                flex-direction: row;

                hr {
                    display: block;
                    width: 20px;
                    opacity: 0.5;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }

    section.large-panels {
        height: 70vh;
        padding-bottom: 50px;
        gap: 10px;

        img {
            width: 100px;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 40px;
            color: var(--white);
        }
    }

    section.featured-projects {
        padding: 0 0 10px 0;

        .container {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;

            .project {
                height: 70vh;
                padding-bottom: 50px;
                gap: 5px;

                img.project-icons {
                    width: 150px;
                    margin-bottom: 80px;
                }

                img.grandeur-meats {
                    width: 230px;
                }

                img.vah-image {
                    width: 100%;
                    padding: 10px;
                }

                h1 {
                    font-size: 40px;
                    color: var(--white);
                }

                p {
                    font-size: 21px;
                    text-align: center;
                    color: var(--white);
                }
            }
        }
    }
}
