section.home-projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 50px;
  gap: 10px;
}
section.home-projects h1 {
  font-size: 60px;
  color: var(--white);
  text-align: center;
}
section.home-projects span {
  color: var(--acent);
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
section.home-projects p {
  font-size: 25px;
  color: var(--white);
  text-align: center;
  font-weight: 300;
}
section.home-projects .scrolldown {
  margin-top: 20px;
}

section.new-project {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../assets/images/home-page/ellchart-chartered-accountants-cover-image.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

section.dustme {
  background-image: url(../assets/images/home-page/dust-me-logo.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

section.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px 10px;
  margin-bottom: 10px;
  gap: 10px;
}
section.grid-container .project {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 50px;
  gap: 10px;
}
section.grid-container .project img {
  width: 300px;
}
section.grid-container .project h1 {
  color: var(--white);
  font-size: 50px;
}
section.grid-container .project h1.title {
  color: var(--primary);
  font-size: 50px;
}
section.grid-container .project p.description {
  color: var(--gray);
  font-size: 20px;
}
section.grid-container .project p {
  color: var(--white);
  font-size: 20px;
}
section.grid-container .b-fit {
  background-color: var(--white);
}

.shop-savvy {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../assets/images/home-page/shop-savvy-wall-logo.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.prime-drive {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../assets/images/home-page/prime-drive-car.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.niche {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../assets/images/home-page/niche-logo-card-logo.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1024px) {
  section.home-projects {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 50px;
    gap: 10px;
  }
  section.home-projects h1 {
    font-size: 40px;
    color: var(--white);
  }
  section.home-projects span {
    color: var(--acent);
    font-size: 17px;
    margin-bottom: 10px;
  }
  section.home-projects p {
    font-size: 21px;
    color: var(--white);
  }
  section.home-projects .scrolldown {
    display: none;
  }
  section.b-fit-logo-project {
    padding: 50px 0;
    background-color: var(--white);
    margin-bottom: 10px;
  }
  section.b-fit-logo-project img {
    width: 500px;
  }
  section.b-fit-logo-project h1 {
    font-size: 60px;
    color: var(--primary);
    text-align: center;
  }
  section.b-fit-logo-project p {
    font-size: 25px;
    color: var(--primary);
    text-align: center;
    font-weight: 300;
  }
  section.grid-container .project {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 50px;
    gap: 5px;
  }
  section.grid-container .project h1 {
    color: var(--white);
    font-size: 40px;
  }
  section.grid-container .project p {
    color: var(--white);
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  section.home-projects {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 50px;
    gap: 10px;
  }
  section.home-projects h1 {
    font-size: 40px;
    color: var(--white);
  }
  section.home-projects span {
    color: var(--acent);
    font-size: 17px;
    margin-bottom: 10px;
  }
  section.home-projects p {
    font-size: 21px;
    color: var(--white);
  }
  section.home-projects .scrolldown {
    display: none;
  }
  section.b-fit-logo-project {
    padding: 50px 0;
    margin-bottom: 10px;
  }
  section.b-fit-logo-project img {
    width: 400px;
  }
  section.b-fit-logo-project h1 {
    font-size: 40px;
  }
  section.b-fit-logo-project p {
    font-size: 21px;
  }
  section.grid-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px 0;
  }
  section.grid-container .project {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 50px;
    gap: 5px;
  }
  section.grid-container .project h1 {
    color: var(--white);
    font-size: 40px;
  }
  section.grid-container .project p {
    color: var(--white);
    font-size: 20px;
  }
  section.grid-container .project img {
    width: 250px;
  }
  section.grid-container .project h1.title {
    color: var(--primary);
    font-size: 40px;
  }
  section.grid-container .project p.description {
    color: var(--gray);
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  section.home-projects {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 30px;
    gap: 3px;
  }
  section.home-projects h1 {
    font-size: 40px;
    color: var(--white);
  }
  section.home-projects span {
    color: var(--acent);
    font-size: 17px;
    margin-bottom: 10px;
  }
  section.home-projects p {
    font-size: 21px;
    color: var(--white);
  }
  section.home-projects .scrolldown {
    display: none;
  }
  section.b-fit-logo-project {
    padding: 50px 0;
    margin-bottom: 10px;
  }
  section.b-fit-logo-project img {
    width: 350px;
  }
  section.b-fit-logo-project h1 {
    font-size: 40px;
  }
  section.b-fit-logo-project p {
    font-size: 21px;
  }
  section.grid-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px 0;
  }
  section.grid-container .project {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 30px;
    gap: 5px;
  }
  section.grid-container .project h1 {
    color: var(--white);
    font-size: 40px;
  }
  section.grid-container .project p {
    color: var(--white);
    font-size: 20px;
  }
  section.grid-container .project img {
    width: 150px;
  }
  section.grid-container .project h1.title {
    color: var(--primary);
    font-size: 40px;
  }
  section.grid-container .project p.description {
    color: var(--gray);
    font-size: 20px;
  }
}/*# sourceMappingURL=index.css.map */