.project-one {
  display: flex;
  background-image: url(../assets/images/home-page/samaritek-logo.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-two {
  display: flex;
  background-image: url(../assets/images/home-page/the-gate.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section.homepage-section {
  display: flex;
  width: 100%;

  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: inherit;
    gap: 10px;

    a.unit-link {
      width: 100%;
      height: 90vh;
      text-decoration: none;

      @media (max-width: 768px) {
        height: 70vh;
      }

      @media (max-width: 617px) {
        height: 50vh;
      }

      .metadata {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        padding-bottom: 3%;
        height: inherit;
        width: inherit;
        background-color: rgba(0, 0, 0, 0.3);

        h1.headline {
          color: var(--white);
          font-size: 70px;
          letter-spacing: 0.1rem;

          @media (max-width: 1024px) {
            font-size: 50px;
          }

          @media (max-width: 768px) {
            font-size: 30px;
          }
        }

        span {
          color: var(--accent);
          margin: 10px 0;
          font-size: 24px;

          @media (max-width: 768px) {
            font-size: 18px;
          }
        }

        p.subhead {
          color: var(--white);
          font-size: 23px;
          letter-spacing: 0.05rem;
          font-weight: 300;

          @media (max-width: 768px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.project-three {
  background-image: url(../assets/images/home-page/kitchen.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-four {
  background-image: url(../assets/images/home-page/esi-apple-watch.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-five {
  background-image: url(../assets/images/home-page/apexbytes.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-six {
  background-image: url(../assets/images/home-page/nextgen.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section.grid-homepage-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;

  @media (max-width: 768px) {
    margin: 10px 0px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 10px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    a.unit-link {
      text-decoration: none;
      width: 100%;
      height: 80vh;

      @media (max-width: 1024px) {
        height: 70vh;
      }

      @media (max-width: 617px) {
        height: 50vh;
      }

      .overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        padding-bottom: 3%;
        height: inherit;
        width: inherit;
        background-color: rgba(0, 0, 0, 0.3);

        h1.headline {
          color: var(--white);
          font-size: 40px;
          letter-spacing: 0.1rem;

          @media (max-width: 768px) {
            font-size: 30px;
          }
        }

        p.subhead {
          color: var(--white);
          font-size: 21px;
          letter-spacing: 0.05rem;
          font-weight: 300;

          @media (max-width: 1024px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
