.hero-pricelyst {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(../../assets/images/Pages/shop-savvy/shop-savvy-cover-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.new-logo-font {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 600px;
        margin-bottom: 50px;
    }

    p {
        font-size: 21px;
        color: var(--gray);
        width: 450px;
        text-align: center;
        margin-bottom: 30px;
    }
}

section.logo-revolution {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    img.logo-revolution {
        width: 700px;
    }
}

section.shop-savvy-logo-on-blue-bg {
    background-color: #071754;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 700px;
    }
}

@media (max-width: 1024px) {

    section.new-logo-font {
        padding: 100px 0;
    
        img {
            width: 500px;
            margin-bottom: 50px;
        }
    
        p {
            font-size: 21px;
            color: var(--gray);
            width: 450px;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    
    section.logo-revolution {
        padding: 100px 0;
        gap: 30px;
    
        img.logo-revolution {
            width: 500px;
        }
    }
    
    section.shop-savvy-logo-on-blue-bg {
        height: 80vh;
        margin: 40px 0;
    
        img {
            width: 500px;
        }
    }
}

@media (max-width: 768px) {

    section.new-logo-font {
        padding: 100px 0;
    
        img {
            width: 400px;
            margin-bottom: 50px;
        }
    
        p {
            font-size: 21px;
            color: var(--gray);
            width: 450px;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    
    section.logo-revolution {
        padding: 100px 0;
        gap: 30px;
    
        img.logo-revolution {
            width: 400px;
        }
    }
    
    section.shop-savvy-logo-on-blue-bg {
        height: 80vh;
        margin: 20px 0;
    
        img {
            width: 400px;
        }
    }
}

@media (max-width: 425px) {

    section.new-logo-font {
        padding: 50px 0;
    
        img {
            width: 300px;
            margin-bottom: 50px;
        }
    
        p {
            font-size: 21px;
            color: var(--gray);
            width: 300px;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    
    section.logo-revolution {
        padding: 50px 0;
        gap: 30px;
    
        img.logo-revolution {
            width: 300px;
        }
    }
    
    section.shop-savvy-logo-on-blue-bg {
        height: 50vh;
        margin: 10px 0;
    
        img {
            width: 250px;
        }
    }
}