section.colors-container {
    padding: 200px 15px 0 15px;

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 1000px;
        margin: 0 auto;
        gap: 20px;
    }

    .colors {
        height: 70vh;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 30px 20px;

        p.title {
            position: absolute;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            right: 10px;
            font-size: 40px;
            font-weight: 300;
            color: var(--white);
            bottom: 20px;
        }

        p {
            color: var(--white);
        }

        p.change-color {
            color: #1E1C1B;
        }

        p.snow-color {
            color: #133155;
        }

        p.hex-code,
        p.platinum-title {
            color: #203244;
        }
    }
}

section.colors {
    padding: 200px 0;
    width: 1000px;
    margin: 0 auto;

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 30px;

        .color-panels {
            display: flex;
            flex-direction: column;
            height: inherit;
            height: 80vh;

            .image {
                height: inherit;
                flex: 2;
                position: relative;

                span.color-name {
                    color: var(--white);
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    font-size: 40px;
                    font-weight: 300;
                }
            }

            .color {
                height: inherit;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: end;
                padding: 20px;

                span.hex {
                    color: var(--white);
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
    }
}

section.three-colors {
    padding: 200px 15px 0 15px;

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
        margin: 0 auto;
        gap: 20px;
    }

    .colors {
        height: 80vh;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 30px 20px;

        p.title {
            position: absolute;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            right: 10px;
            font-size: 40px;
            font-weight: 300;
            color: var(--white);
            bottom: 20px;
        }

        p.mazi-hex {
            color: var(--white);
        }

        p.mazi-hex-color {
            color: #1E1C1B;
        }

        p,
        p.sallegreen-title {
            color: var(--white);
        }

        p.change-color,
        p,
        .cultured {
            color: #1E1C1B;
        }
    }
}

@media (max-width: 1024px) {

    section.colors-container {
        padding: 20px 15px 0px 15px;

        .container {
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }

        .colors {
            height: 70vh;
        }
    }

    section.colors {
        width: 100%;
        padding: 15px 15px;

        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            gap: 15px;

            .color-panels {
                height: 80vh;

                .image {
                    height: inherit;
                    flex: 2;
                    position: relative;

                    span.color-name {
                        font-size: 40px;
                        font-weight: 300;
                    }
                }

                .color {
                    padding: 20px;

                    span.hex {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    section.three-colors {
        padding: 200px 15px 0 15px;

        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            max-width: 700px;
        }

        .colors {
            height: 60vh;
        }
    }
}

@media (max-width: 768px) {

    section.colors-container {
        padding: 20px 15px 20px 15px;

        .container {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        .colors {
            height: 60vh;
        }
    }

    section.colors {
        width: 100%;
        padding: 15px 15px;

        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 15px;

            .color-panels {
                height: 80vh;

                .image {
                    height: inherit;
                    flex: 2;
                    position: relative;

                    span.color-name {
                        font-size: 40px;
                        font-weight: 300;
                    }
                }

                .color {
                    padding: 20px;

                    span.hex {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    section.three-colors {
        padding: 200px 0px 0 0px;

        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            max-width: 100%;
            padding: 0 20px;
        }

        .colors {
            height: 50vh;
        }
    }
}

@media (max-width: 425px) {

    section.colors-container {
        padding: 20px 15px 0px 15px;

        .container {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        .colors {
            height: 40vh;
        }
    }

    section.colors {
        width: 100%;
        padding: 0px 15px;

        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 15px;

            .color-panels {
                height: 60vh;

                .image {
                    height: inherit;
                    flex: 2;
                    position: relative;

                    span.color-name {
                        font-size: 30px;
                        font-weight: 300;
                    }
                }

                .color {
                    padding: 20px;

                    span.hex {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    section.three-colors {
        padding: 200px 0px 0 0px;

        .container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            max-width: 100%;
            padding: 0 20px;
        }

        .colors {
            height: 50vh;
        }
    }
}