section.colors-container {
    padding: 200px 15px;

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 1000px;
        margin: 0 auto;
        gap: 20px;
    }

    .colors {
        height: 70vh;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 30px 20px;

        p.title {
            position: absolute;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            right: 10px;
            font-size: 40px;
            font-weight: 300;
            color: var(--white);
            bottom: 20px;
        }

        p {
            color: var(--white);
        }

        p.change-color {
            color: #1e1c1b;
        }

        p.snow-color {
            color: #133155;
        }

        p.hex-code,
        p.platinum-title {
            color: #203244;
        }
    }
}

section.colors {
    padding: 200px 0;
    width: 1000px;
    margin: 0 auto;

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 30px;

        .color-panels {
            display: flex;
            flex-direction: column;
            height: inherit;
            height: 80vh;

            .image {
                height: inherit;
                flex: 3;
                position: relative;

                span.color-name {
                    color: var(--white);
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    font-size: 30px;
                    font-weight: 300;
                }
                
                span.custom-color-name {
                    color: var(--secondary);
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    font-size: 30px;
                    font-weight: 300;
                }
            }

            .color {
                height: inherit;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: end;
                padding: 20px;

                span.hex {
                    color: var(--white);
                    font-size: 20px;
                    font-weight: 300;
                }

                span.custom-hex {
                    color: var(--secondary);
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
    }
}

section.three-colors {
    padding: 200px 15px 0 15px;

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
        margin: 0 auto;
        gap: 20px;
    }

    .colors {
        height: 80vh;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 30px 20px;

        p.title {
            position: absolute;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            right: 10px;
            font-size: 40px;
            font-weight: 300;
            color: var(--white);
            bottom: 20px;
        }

        p.mazi-hex {
            color: var(--white);
        }

        p.mazi-hex-color {
            color: #1e1c1b;
        }

        p,
        p.sallegreen-title {
            color: var(--white);
        }

        p.change-color,
        p,
        .cultured {
            color: #1e1c1b;
        }
    }
}

section.color-palette {
    padding: 200px 10px;

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1000px;
        gap: 20px;
        margin: 0 auto;

        .palette {
            height: 300px;
            padding: 30px;

            h2.dustme-hex-title,
            p.dustme-hex-code {
                color: #004a2e;
            }

            h2.niiche-title,
            p.niche-hex-code {
                color: #262b28;
            }

            h2,
            p {
                color: var(--white);
            }
        }
    }

    .main-color {
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 20px;

        .palette {
            height: 300px;
            padding: 30px;
        }
    }
}

@media (max-width: 1024px) {
    section.colors-container {
        padding: 0px 20px;

        .container {
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }

        .colors {
            height: 70vh;
        }
    }

    section.colors {
        width: 100%;
        padding: 0px 20px;

        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            gap: 20px;

            .color-panels {
                height: 80vh;

                .image {
                    height: inherit;
                    flex: 3;
                    position: relative;

                    span.color-name {
                        font-size: 40px;
                        font-weight: 300;
                    }
                }

                .color {
                    padding: 20px;

                    span.hex {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    section.three-colors {
        padding: 20px 20px;

        .container {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(3, 1fr);
        }

        .colors {
            height: 80vh;
        }
    }

    section.color-palette {
        padding: 0px 20px;

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        .main-color {
            margin: 0 auto;
            margin-top: 20px;

            .teal-blue {
                background-color: #2f7992;
                height: 300px;
                padding: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    section.colors-container {
        padding: 0px 20px;

        .container {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        .colors {
            height: 60vh;
        }
    }

    section.colors {
        width: 100%;
        padding: 0px 20px;

        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 20px;

            .color-panels {
                height: 80vh;

                .image {
                    height: inherit;
                    flex: 3;
                    position: relative;

                    span.color-name {
                        font-size: 40px;
                        font-weight: 300;
                    }
                }

                .color {
                    padding: 20px;

                    span.hex {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    section.three-colors {
        padding: 20px;

        .container {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(3, 1fr);
        }

        .colors {
            height: 70vh;
            padding: 10px 10px;
        }
    }

    section.color-palette {
        .grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }

        .main-color {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}

@media (max-width: 425px) {
    section.colors-container {
        padding: 0px 20px;

        .container {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        .colors {
            height: 40vh;
        }
    }

    section.colors {
        width: 100%;
        padding: 0px 20px;

        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 20px;

            .color-panels {
                height: 50vh;

                .image {
                    height: inherit;
                    flex: 3;
                    position: relative;

                    span.color-name {
                        font-size: 30px;
                        font-weight: 300;
                    }
                }

                .color {
                    padding: 20px;

                    span.hex {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    section.three-colors {
        padding: 20px;

        .container {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(1, 1fr);
        }

        .colors {
            height: 60vh;
            padding: 30px;
        }
    }

    section.color-palette {
        .grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }

        .main-color {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}
