section.article-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    gap: 30px;

    img {
        width: 200px;
    }

    h1.header {
        font-size: 70px;
        color: var(--secondary);
        text-align: center;
    }

    p.subhead {
        font-size: 25px;
        text-align: center;
        max-width: 650px;
        padding: 0 30px;
    }
}

section.project-outline {
    padding: 100px 20px;

    .container {
        display: flex;
        flex-direction: column;
        max-width: 650px;
        margin: 0 auto;
        gap: 20px;

        .project-logo {
            margin-bottom: 20px;

            img.nmb-logo {
                width: 100px;
            }
        }

        .divider {
            border-bottom: 1px solid rgb(218, 218, 218);
        }

        .client,
        .role,
        .duration,
        .tools {
            display: flex;
            flex-direction: column;

            p.title {
                color: var(--secondary);
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 5px;
            }

            span {
                color: var(--gray);
                font-size: 16px;
                font-weight: 300;
                text-transform: uppercase;
            }
        }
    }
}

section.article {
    padding: 0 20px;

    .container {
        max-width: 650px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .pagebody-content {
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            gap: 25px;

            span.subhead {
                font-size: 30px;
                font-weight: bold;
                color: var(--secondary);

                font-family: "Simbah M";
            }

            p.subhead {
                font-size: 20px;
                font-weight: bold;
                font-family: "Simbah M";
                color: var(--gray);
            }

            .pagebody-text {
                display: flex;
                flex-direction: column;
                gap: 20px;

                p.pagebody {
                    font-size: 20px;
                    line-height: 1.4705882353;
                    font-weight: 400;

                    a {
                        text-decoration: none;
                        color: red;
                        transition: all 0.3s ease;

                        &:hover {
                            color: rgb(196, 0, 0);
                        }
                    }

                    a.aa-website-link {
                        text-decoration: none;
                        color: #6280ad;
                        transition: all 0.3s ease;

                        &:hover {
                            color: #9fb9df;
                        }
                    }
                }
            }

            p.subtitle {
                font-size: 30px;
                font-weight: 300;

                a {
                    text-decoration: none;
                    color: red;
                    transition: all 0.3s ease;

                    &:hover {
                        color: rgb(196, 0, 0);
                    }
                }
            }

            .design-card {
                display: flex;
                flex-direction: row;
                align-items: start;
                justify-content: start;
                background-color: #f3f3f3;
                border-radius: 10px;
                padding: 20px;

                span.emoji {
                    font-size: 25px;
                    margin-right: 15px;

                    img.memoji {
                        width: 30px;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .point {
                        display: flex;
                        flex-direction: row;
                        align-items: start;

                        span.emoji {
                            font-size: 15px;
                            margin-top: 2px;
                        }
                        p {
                            font-size: 16px;
                            display: block;
                            font-weight: 300;

                            strong {
                                color: #8AC140;
                            }
                        }

                    }

                    p {
                        align-items: center;
                        display: block;
                        font-size: 16px;
                        color: rgb(134, 134, 134);
                        line-height: 1.4705882353;
                        font-weight: 400;

                        a {
                            font-size: 16px;
                            text-decoration: none;
                            color: #6280ad;
                            transition: all 0.3s ease;

                            &:hover {
                                color: #9fb9df;
                            }
                        }
                    }

                    .date {
                        span {
                            color: rgb(177, 177, 177);
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .design-card2 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                background-color: #f3f3f3;
                border-radius: 10px;
                padding: 20px;

                img.memoji {
                    width: 50px;
                    margin-right: 10px;
                }

                a {
                    font-size: 25px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #6280ad;
                    transition: all 0.3s ease;

                    &:hover {
                        color: #9fb9df;
                    }
                }
            }
        }
    }
}

section.project-image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 1200px;
        padding: 0 20px;
    }
}

@media (max-width: 1024px) {
    section.article-head {
        padding: 100px 0;
        gap: 30px;

        img {
            width: 150px;
        }

        h1.header {
            font-size: 50px;
        }

        p.subhead {
            font-size: 21px;
            max-width: 650px;
            padding: 0 30px;
        }
    }
}

@media (max-width: 768px) {
    section.article-head {
        padding: 100px 0;
        gap: 30px;

        img {
            width: 150px;
        }

        h1.header {
            font-size: 50px;
        }

        p.subhead {
            font-size: 21px;
            max-width: 650px;
            padding: 0 30px;
        }
    }

    section.project-outline {
        .container {
            max-width: 450px;
        }
    }

    section.article {
        .container {
            max-width: 450px;

            .pagebody-content {
                padding: 30px 0;
                gap: 25px;

                span.subhead {
                    font-size: 30px;
                }

                .pagebody-text {
                    gap: 20px;

                    p.pagebody {
                        font-size: 19px;
                    }
                }

                p.subtitle {
                    font-size: 30px;
                }

                .design-card {
                    border-radius: 10px;
                    padding: 20px;

                    span.emoji {
                        font-size: 25px;
                        margin-right: 15px;

                        img.memoji {
                            width: 30px;
                        }
                    }

                    .text {
                        gap: 10px;

                        .point {
                                display: flex;
                                flex-direction: row;
                                align-items: start;
                            }

                        p {
                            font-size: 16px;
                        }
                    }
                }

                .design-card2 {
                    border-radius: 10px;
                    padding: 20px;

                    img.memoji {
                        width: 50px;
                        margin-right: 10px;
                    }

                    a {
                        font-size: 21px;

                        &:hover {
                            color: #9fb9df;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    section.article-head {
        gap: 20px;

        img {
            width: 100px;
        }

        h1.header {
            font-size: 30px;
        }

        p.subhead {
            font-size: 19px;
            max-width: 650px;
            padding: 0 30px;
        }
    }

    section.project-outline {
        padding: 50px 20px;

        .container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
            gap: 10px;

            .project-logo {
                margin-bottom: 20px;

                img.nmb-logo {
                    width: 100px;
                }
            }

            .divider {
                border-bottom: 1px solid rgb(218, 218, 218);
            }

            .client,
            .role,
            .duration,
            .tools {
                display: flex;
                flex-direction: column;

                p.title {
                    color: var(--secondary);
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 12px;
                    margin-bottom: 5px;
                }

                span {
                    color: var(--gray);
                    font-size: 14px;
                    font-weight: 300;
                    text-transform: uppercase;
                }
            }
        }
    }

    section.article {
        .container {
            max-width: 450px;

            .pagebody-content {
                padding: 20px 0;
                gap: 15px;

                span.subhead {
                    font-size: 25px;
                }

                .pagebody-text {
                    gap: 15px;

                    p.pagebody {
                        font-size: 19px;
                    }
                }

                p.subtitle {
                    font-size: 30px;
                }

                .design-card {
                    border-radius: 10px;
                    padding: 20px;

                    span.emoji {
                        font-size: 25px;
                        margin-right: 15px;

                        img.memoji {
                            width: 30px;
                        }
                    }

                    .text {
                        gap: 10px;

                        p {
                            font-size: 16px;
                        }
                    }
                }

                .design-card2 {
                    border-radius: 10px;
                    padding: 20px 10px;

                    img.memoji {
                        width: 30px;
                        margin-right: 10px;
                    }

                    a {
                        font-size: 18px;

                        &:hover {
                            color: #9fb9df;
                        }
                    }
                }
            }
        }
    }
}
