.primary-button {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border-top: 3px rgb(152, 152, 152) solid;
  color: var(--primary);
  font-size: 14px;
  padding: 13px 35px;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 0.15rem;
  border-radius: 1px;
  transition: all 0.3s ease 0s;
  margin: 20px 0;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-top: 3px rgb(255, 255, 255) solid;
  }
}

.secondary-button {
  text-decoration: none;
  background-color: #61778db3;
  backdrop-filter: blur(8px);
  border-top: 3px #465a6eb3 solid;
  color: var(--white);
  font-size: 14px;
  padding: 13px 35px;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border-radius: 1px;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: #374859b3;
    border-top: 3px #304051b3 solid;
  }
}

@media (max-width: 768px) {
  .primary-button,
  .secondary-button {
    font-size: 13px;
    padding: 12px 25px;
  }
}

@media (max-width: 425px) {
  .primary-button,
  .secondary-button {
    font-size: 13px;
    padding: 10px 20px;
  }
}
