.ui-ux {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4)), url(../../assets/images/Pages/ui-ux-design/ui-ux-design.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

section.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-top: 100px;

    .nmb-website {
        background-image: url(../../assets/images/Pages/ui-ux-design/nmb-bank-website.webp);
        background-repeat: none;
        background-size: cover;
        background-position: center;
    }

    .nmbconnect {
        background-image: url(../../assets/images/Pages/ui-ux-design/nmbconnect.webp);
        background-repeat: none;
        background-size: cover;
        background-position: center;
    }

    .work {
        max-width: 1000px;
        height: 85vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        padding-bottom: 50px;
        margin-bottom: 100px;
        width: 100%;

        h1.title {
            color: var(--white);
            font-size: 40px;
            font-family: Simbah M;
        }

        p.descriptor {
            color: var(--white);
            font-size: 20px;
            margin-top: 10px;
            text-align: center;
        }

        .scrolldown {
            margin-top: 20px;
        }
    }
}

@media (max-width: 1024px) {

    section.projects {
        padding: 0 10px;
    
        .work {
            max-width: 700px;
            height: 80vh;
            padding-bottom: 30px;
        }

        .kabwe-lodge-interior {
            max-width: 700px;
        }

        .kabwe-lodge-cloth {
            max-width: 700px;
        }
    }
}

@media (max-width: 768px) {

    section.projects {
        margin-top: 10px;
    
        .work {
            max-width: 700px;
            height: 80vh;
            padding-bottom: 30px;
            margin-bottom: 10px;
        }

        .kabwe-lodge-interior {
            max-width: 700px;
            gap: 10px;

            .interior2 {
                display: none;
            }
        }

        .kabwe-lodge-cloth {
            max-width: 700px;
            gap: 10px;

            .cloth1 {
                display: none;
            }
        }
    }
}

@media (max-width: 425px) {

    section.projects {
        margin-top: 10px;

        .work {
            max-width: 700px;
            height: 55vh;
            padding-bottom: 30px;
            margin-bottom: 10px;

            h1.title {
                font-size: 30px;
            }
    
            p.descripter {
                font-size: 17px;
            }
        }
    }
}