.branding {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../assets/images/pages/work/simbah-m-branding-cover-image.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.car-guvi {
  background-image: url(../../assets/images/Pages/work/car-guvi-logo-on-card.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.eca {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../assets/images/pages/work/ellchart-chartered-accountants-cover-image.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.niche {
  background-image: url(../../assets/images/pages/work/niche-logo-cover-image.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.prime-drive {
  background-image: url(../../assets/images/pages/work/prime-drive-logo.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.dustme {
  background-image: url(../../assets/images/pages/work/dust-me-logo.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.louis {
  background-image: url(../../assets/images/pages/work/louis-kitchens.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.kabwe {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(../../assets/images/pages/work/kabwe-loddge-logo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.eac {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../../assets/images/pages/work/exclusive-aircon-logo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kinterior {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../../assets/images/pages/work/kinterior-logo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pricelyst {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../assets/images/pages/work/pricelyst-logo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shop-savvy {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../assets/images/pages/work/shop-savy-logo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.talent {
  background-image: url(../../assets/images/pages/work/talent-solutions-logo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hope {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../assets/images/pages/work/hope-wellness-bag.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.apex {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../assets/images/pages/work/apex-logo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.b-fit {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../assets/images/pages/work/b-fit-logo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin-top: 100px;
}
section.projects .grandeur-meats,
section.projects .vah {
  max-width: 1000px;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 50px;
  margin-bottom: 100px;
  width: 100%;
  background-color: var(--white);
}
section.projects .grandeur-meats h1.grandeur-meats-title,
section.projects .vah h1.grandeur-meats-title {
  color: var(--primary);
  font-size: 40px;
}
section.projects .grandeur-meats p.grandeur-meats-title,
section.projects .vah p.grandeur-meats-title {
  color: var(--gray);
  font-size: 20px;
}
section.projects .grandeur-meats img,
section.projects .vah img {
  width: 400px;
}
section.projects .grandeur-meats img.vah-water-bottle,
section.projects .vah img.vah-water-bottle {
  width: 200px;
  margin-bottom: 30px;
}
section.projects .work {
  max-width: 1000px;
  height: 85vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 50px;
  margin-bottom: 100px;
  width: 100%;
}
section.projects .work h1.grandeur-meats-title {
  color: var(--primary);
  font-size: 40px;
}
section.projects .work p.grandeur-meats-title {
  color: var(--gray);
  font-size: 20px;
}
section.projects .work img {
  width: 400px;
}
section.projects .work h1.title {
  color: var(--white);
  font-size: 40px;
  font-family: Simbah M;
}
section.projects .work p.descriptor {
  color: var(--white);
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}
section.projects .work .scrolldown {
  margin-top: 20px;
}

@media (max-width: 1024px) {
  section.projects {
    padding: 0 10px;
  }
  section.projects .grandeur-meats,
  section.projects .vah {
    max-width: 768px;
    margin-bottom: 10px;
  }
  section.projects .grandeur-meats h1.grandeur-meats-title,
  section.projects .vah h1.grandeur-meats-title {
    color: var(--primary);
    font-size: 40px;
  }
  section.projects .grandeur-meats p.grandeur-meats-title,
  section.projects .vah p.grandeur-meats-title {
    color: var(--gray);
    font-size: 20px;
  }
  section.projects .grandeur-meats img,
  section.projects .vah img {
    width: 400px;
  }
  section.projects .work {
    max-width: 768px;
    height: 80vh;
    padding-bottom: 30px;
  }
  section.projects .work img {
    width: 250px;
  }
  section.projects .kabwe-lodge-interior {
    max-width: 700px;
  }
  section.projects .kabwe-lodge-cloth {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  section.projects {
    margin-top: 10px;
  }
  section.projects .work {
    height: 80vh;
    padding-bottom: 30px;
    margin-bottom: 10px;
  }
  section.projects .kabwe-lodge-interior {
    max-width: 700px;
    gap: 10px;
  }
  section.projects .kabwe-lodge-interior .interior2 {
    display: none;
  }
  section.projects .kabwe-lodge-cloth {
    max-width: 700px;
    gap: 10px;
  }
  section.projects .kabwe-lodge-cloth .cloth1 {
    display: none;
  }
}
@media (max-width: 425px) {
  section.projects {
    margin-top: 10px;
  }
  section.projects .grandeur-meats,
  section.projects .vah {
    max-width: 768px;
    margin-bottom: 10px;
    padding: 50px 0;
  }
  section.projects .grandeur-meats h1.grandeur-meats-title,
  section.projects .vah h1.grandeur-meats-title {
    font-size: 30px;
  }
  section.projects .grandeur-meats p.grandeur-meats-title,
  section.projects .vah p.grandeur-meats-title {
    font-size: 17px;
  }
  section.projects .grandeur-meats img,
  section.projects .vah img {
    width: 300px;
  }
  section.projects .work {
    max-width: 700px;
    height: 55vh;
    padding-bottom: 30px;
    margin-bottom: 10px;
  }
  section.projects .work img {
    width: 250px;
  }
  section.projects .work h1.title {
    font-size: 30px;
  }
  section.projects .work p.descripter {
    font-size: 17px;
  }
}/*# sourceMappingURL=work.css.map */