.hero-pricelyst {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../../assets/images/Pages/pricelyst/pricelyst-cover-image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.pricelyst-logo {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
section.pricelyst-logo h1 {
  font-size: 50px;
  color: var(--secondary);
  text-align: center;
}
section.pricelyst-logo img {
  width: 400px;
}
section.pricelyst-logo .pricelyst-main-logo {
  width: 300px;
  margin: 50px 0;
}
section.pricelyst-logo .logo-breakdown {
  width: 500px;
  margin: 50px 0;
}
section.pricelyst-logo .logo-typeface {
  width: 500px;
  margin: 50px 0;
}
section.pricelyst-logo h2 {
  font-size: 30px;
  text-align: center;
}
section.pricelyst-logo span {
  font-size: 18px;
  color: var(--gray);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
section.pricelyst-logo p {
  font-size: 24px;
  color: var(--gray);
  max-width: 500px;
  text-align: center;
}

@media (max-width: 768px) {
  section.pricelyst-logo {
    padding: 150px 0;
  }
  section.pricelyst-logo h1 {
    font-size: 30px;
    color: var(--secondary);
    text-align: center;
  }
  section.pricelyst-logo img {
    width: 400px;
  }
  section.pricelyst-logo .pricelyst-main-logo {
    width: 300px;
    margin: 50px 0;
  }
  section.pricelyst-logo .logo-breakdown {
    width: 400px;
    margin: 50px 0;
  }
  section.pricelyst-logo .logo-typeface {
    width: 400px;
    margin: 50px 0;
  }
  section.pricelyst-logo h2 {
    font-size: 30px;
    text-align: center;
  }
  section.pricelyst-logo p {
    font-size: 24px;
    color: var(--gray);
    max-width: 500px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  section.pricelyst-logo {
    padding: 100px 0;
  }
  section.pricelyst-logo h1 {
    font-size: 30px;
  }
  section.pricelyst-logo img {
    width: 400px;
  }
  section.pricelyst-logo .pricelyst-main-logo {
    width: 200px;
    margin: 50px 0;
  }
  section.pricelyst-logo .logo-breakdown {
    width: 400px;
    margin: 50px 0;
  }
  section.pricelyst-logo .logo-typeface {
    width: 300px;
    margin: 30px 0;
  }
  section.pricelyst-logo h2 {
    font-size: 30px;
    font-family: Simbah M;
    text-align: center;
  }
  section.pricelyst-logo p {
    font-size: 17px;
    width: 400px;
  }
}
@media (max-width: 375px) {
  section.pricelyst-logo {
    padding: 50px 0;
  }
  section.pricelyst-logo h1 {
    font-size: 25px;
  }
  section.pricelyst-logo img {
    width: 300px;
  }
  section.pricelyst-logo .pricelyst-main-logo {
    width: 150px;
    margin: 50px 0;
  }
  section.pricelyst-logo .logo-breakdown {
    width: 300px;
    margin: 50px 0;
  }
  section.pricelyst-logo .logo-typeface {
    width: 300px;
    margin: 30px 0;
  }
  section.pricelyst-logo h2 {
    font-size: 30px;
    text-align: center;
  }
  section.pricelyst-logo p {
    font-size: 17px;
    width: 300px;
  }
}
.pricelyst-thank-you {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Pages/pricelyst/pricelyst-cover-image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}/*# sourceMappingURL=pricelyst.css.map */