.hero-apex {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../../assets/images/pages/b-fit/b-fit-cover-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;

    img {
        width: 600px;
        margin: 70px;
    }

    img.logo-lockup {
        width: 400px;
    }

    img.logo-lockup2 {
        width: 300px;
    }

    img.logo-lockup3 {
        width: 100px;
    }

    p {
        font-size: 21px;
        color: var(--gray);
        width: 500px;
        text-align: center;
    }
}

.logo-color {
    border: 1px solid rgb(221, 221, 221);
}

.water-bottles {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {

    section.logo {
        padding: 100px 0;

        img {
            width: 500px;
            margin: 70px;
        }

        img.logo-lockup {
            width: 300px;
        }

        img.logo-lockup2 {
            width: 200px;
        }

        img.logo-lockup3 {
            width: 90px;
        }

        p {
            font-size: 21px;
            color: var(--gray);
            width: 500px;
            text-align: center;
        }
    }
}

.water-bottle {
    border: 1px solid var(--gray);
}

@media (max-width: 768px) {

    section.logo {
        padding: 100px 0;

        img {
            width: 400px;
            margin: 70px;
        }

        img.logo-lockup {
            width: 300px;
        }

        img.logo-lockup2 {
            width: 200px;
        }

        img.logo-lockup3 {
            width: 90px;
        }

        p {
            font-size: 21px;
            color: var(--gray);
            width: 420px;
            text-align: center;
        }
    }
}

@media (max-width: 425px) {

    section.logo {
        padding: 50px 0;

        img {
            width: 100%;
            padding: 0 30px;
            margin: 70px;
        }

        img.logo-lockup {
            width: 100%;
            padding: 0 30px;
        }

        img.logo-lockup2 {
            width: 100%;
            padding: 0 30px;
        }

        img.logo-lockup3 {
            width: 100%;
            padding: 0 30px;
        }

        p {
            font-size: 21px;
            color: var(--gray);
            width: 100%;
            padding: 0 30px;
            text-align: center;
        }
    }
}