footer {
    padding: 30px 20px 20px 20px;
    background-color: var(--white);

    .container {
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        margin: 0 auto;

        .links {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: start;
            justify-content: start;
            gap: 20px;

            .footer-directory-column {
                display: flex;
                flex-direction: column;

                h1 {
                    font-size: 18px;
                    color: var(--primary);
                    margin-bottom: 10px;
                }

                ul {
                    list-style: none;

                    li {
                        margin-bottom: 10px;

                        .email-address {
                            text-transform: lowercase;
                        }

                        a {
                            text-decoration: none;
                            color: var(--gray);
                            font-size: 14px;
                            line-height: 1.4705882353;
                            font-weight: 400;
                            text-transform: uppercase;
                            letter-spacing: 0.05em;
                            transition: all 0.3s ease;

                            &:hover {
                                color: var(--accent);
                            }

                            span {
                                color: var(--gray);
                                font-size: 14px;
                                line-height: 1.4705882353;
                                font-weight: 400;
                                text-transform: lowercase;
                                letter-spacing: 0.05em;
                                transition: all 0.3s ease;

                                &:hover {
                                    color: var(--accent);
                                }
                            }
                        }
                    }
                }
            }

            a.logo {
                display: flex;

                img {
                    width: 150px;
                }
            }
        }

        hr {
            margin: 20px 0;
            border-color: var(--white);
        }

        .copyright {
            span {
                font-size: 16px;
                letter-spacing: 0.05em;
                font-weight: 500;
                color: var(--gray);
            }
        }
    }
}

@media (max-width: 768px) {
    footer {
        .container {
            .links {
                display: grid;
                grid-template-columns: repeat(1, 1fr);

                a.logo {
                    display: flex;
                    margin-bottom: 20px;

                    img {
                        width: 150px;
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    footer {
        padding: 30px 20px 20px 20px;
    }
}
