.hero-kabwe {
    background-image: url(../../assets/images/Pages/kabwe-lodge/kabwe-lodge-cover-page.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.kabwe-lodge-logo {
    background-image: url(../../assets/images/Pages/kabwe-lodge/kabwe-lodge-logo.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.kabwe-lodge-color-palette {
    background-image: url(../../assets/images/Pages/kabwe-lodge/kabwe-lodge-color-palette.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.kabwe-lodge-interior {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    height: 80vh;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 100px;
    gap: 20px;
    width: 100%;


    .interior1 {
        background-image: url(../../assets/images/Pages/kabwe-lodge/kabwe-lodge-interior.webp);
        background-repeat: none;
        background-size: cover;
        background-position: center;
        height: inherit;
        flex: 1;
    }
    
    .interior2 {
        background-image: url(../../assets/images/Pages/kabwe-lodge/kabwe-lodge-interior2.webp);
        background-repeat: none;
        background-size: cover;
        background-position: center;
        border: 1px solid var(--gray);
        height: inherit;
        flex: 1;
    }
}

.kabwe-lodge-corporate-wear {
    background-image: url(../../assets/images/Pages/kabwe-lodge/kabwe-lodge-corporate-wear.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--gray);
}

.kabwe-lodge-cover-page {
    background-image: url(../../assets/images/Pages/kabwe-lodge/kabwe-lodge-cover-page.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--gray);
}

.kabwe-lodge-cloth {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    height: 80vh;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 100px;
    gap: 20px;
    width: 100%;


    .cloth1 {
        background-image: url(../../assets/images/Pages/kabwe-lodge/kabwe-lodge-cloth2.webp);
        background-repeat: none;
        background-size: cover;
        background-position: center;
        border: 1px solid var(--gray);
        height: inherit;
        flex: 1;
    }
    
    .cloth2 {
        background-image: url(../../assets/images/Pages/kabwe-lodge/kabwe-lodge-cloth.webp);
        background-repeat: none;
        background-size: cover;
        background-position: center;
        height: inherit;
        flex: 1;
    }
}

.kabwe-lodge-letterhead {
    background-image: url(../../assets/images/Pages/kabwe-lodge/kabwe-lodge-letterhead.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.kabwe-lodge-convas-logo {
    background-image: url(../../assets/images/Pages/kabwe-lodge/kabwe-lodge-convas-logo.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.kabwe-lodge-towels {
    background-image: url(../../assets/images/Pages/kabwe-lodge/kabwe-lodge-towels.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.kabwe-lodge-quote {
    background-image: url(../../assets/images/Pages/kabwe-lodge/kabwe-lodge-quote.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}