.hero-kabwe {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Pages/kabwe-lodge/cover-page.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.kabwe-logo {
  padding: 100px 0 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.kabwe-logo img {
  width: 300px;
}

section.kabwe-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
  gap: 20px;
}
section.kabwe-grid .image-logo {
  background-image: url(../../assets/images/Pages/kabwe-lodge/indoor-lamp.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
section.kabwe-grid .image-logo .filter {
  background-color: rgba(0, 0, 0, 0.5);
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.kabwe-grid .image-logo img {
  width: 200px;
}
section.kabwe-grid .towel {
  background-image: url(../../assets/images/Pages/kabwe-lodge/kabwe-lodge-cloth.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
section.kabwe-grid .logo-symbol {
  background-color: var(--white);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.kabwe-grid .logo-symbol img {
  width: 300px;
}

section.logo-mark {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
section.logo-mark img {
  width: 300px;
}
section.logo-mark p {
  width: 900px;
  font-size: 30px;
  line-height: 1.4211;
  font-weight: 400;
  letter-spacing: 0.012em;
  color: var(--gray);
  margin-bottom: 20px;
  text-align: center;
}

section.quote {
  background-image: url(../../assets/images/Pages/kabwe-lodge/lodge-rooms.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
section.quote .filter {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  gap: 30px;
}
section.quote img {
  width: 100px;
}
section.quote h1 {
  color: var(--white);
  text-align: center;
  font-size: 70px;
}

section.corporate-wear {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 200px 0;
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  section.kabwe-logo {
    padding: 50px 0 100px 0;
  }
  section.kabwe-logo img {
    width: 200px;
  }
  section.kabwe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 700px;
    margin: 0 auto;
    padding: 50px 0;
    gap: 20px;
  }
  section.kabwe-grid .image-logo {
    height: 80vh;
  }
  section.kabwe-grid .image-logo img {
    width: 150px;
  }
  section.kabwe-grid .towel {
    height: 80vh;
  }
  section.kabwe-grid .logo-symbol {
    height: 80vh;
  }
  section.kabwe-grid .logo-symbol img {
    width: 200px;
  }
  section.logo-mark {
    height: 100vh;
    gap: 60px;
  }
  section.logo-mark img {
    width: 200px;
  }
  section.logo-mark p {
    width: 600px;
    font-size: 25px;
  }
  section.quote {
    height: 80vh;
  }
  section.quote .filter {
    gap: 30px;
  }
  section.quote img {
    width: 80px;
  }
  section.quote h1 {
    color: var(--white);
    text-align: center;
    font-size: 50px;
  }
  section.corporate-wear {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 200px 0;
    width: 700px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  section.kabwe-logo {
    padding: 50px 0 100px 0;
  }
  section.kabwe-logo img {
    width: 150px;
  }
  section.kabwe-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 425px;
    margin: 0 auto;
    padding: 50px 0;
    gap: 20px;
  }
  section.kabwe-grid .image-logo {
    height: 80vh;
  }
  section.kabwe-grid .image-logo img {
    width: 150px;
  }
  section.kabwe-grid .towel {
    height: 80vh;
  }
  section.kabwe-grid .logo-symbol {
    height: 80vh;
  }
  section.kabwe-grid .logo-symbol img {
    width: 200px;
  }
  section.logo-mark {
    height: 100vh;
    gap: 60px;
  }
  section.logo-mark img {
    width: 200px;
  }
  section.logo-mark p {
    width: 500px;
    font-size: 25px;
  }
  section.quote {
    height: 80vh;
  }
  section.quote .filter {
    gap: 30px;
  }
  section.quote img {
    width: 60px;
  }
  section.quote h1 {
    color: var(--white);
    text-align: center;
    font-size: 50px;
  }
  section.corporate-wear {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 200px 0;
    width: 700px;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  section.kabwe-logo {
    padding: 50px 0 100px 0;
  }
  section.kabwe-logo img {
    width: 150px;
  }
  section.kabwe-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 350px;
    margin: 0 auto;
    padding: 20px 0;
    gap: 20px;
  }
  section.kabwe-grid .image-logo {
    height: 80vh;
  }
  section.kabwe-grid .image-logo img {
    width: 150px;
  }
  section.kabwe-grid .towel {
    height: 80vh;
  }
  section.kabwe-grid .logo-symbol {
    height: 80vh;
  }
  section.kabwe-grid .logo-symbol img {
    width: 200px;
  }
  section.logo-mark {
    height: 100vh;
    gap: 60px;
  }
  section.logo-mark img {
    width: 200px;
  }
  section.logo-mark p {
    width: 350px;
    font-size: 17px;
  }
  section.quote {
    height: 80vh;
  }
  section.quote .filter {
    gap: 30px;
  }
  section.quote img {
    width: 60px;
  }
  section.quote h1 {
    color: var(--white);
    text-align: center;
    font-size: 40px;
  }
  section.corporate-wear {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 50px 0;
    width: 300px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=kabwe-lodge.css.map */