section.heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  gap: 30px;
}
section.heading-wrapper img.touchbase-logo {
  width: 200px;
}
section.heading-wrapper h1.header {
  font-size: 70px;
  color: var(--primary);
  text-align: center;
}
section.heading-wrapper p.subhead {
  font-size: 25px;
  text-align: center;
  max-width: 650px;
  padding: 0 30px;
}

section.project-image {
  padding: 200px 0 0 0;
  background-color: var(--white);
}
section.project-image .container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

section.wrapper {
  padding: 100px 0;
}
section.wrapper .container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
section.wrapper .container .feature-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
section.wrapper .container .feature-header h1.heading {
  font-size: 40px;
  color: var(--primary);
}
section.wrapper .container .pagebody-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
section.wrapper .container .pagebody-content p.subhead {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}
section.wrapper .container .pagebody-content p.subhead span.emoji {
  margin-right: 15px;
  font-size: 21px;
}
section.wrapper .container .pagebody-content p.pagebody-text {
  font-size: 19px;
  margin-bottom: 0px;
  color: var(--gray);
}
section.wrapper .container .pagebody-content p.pagebody-text a {
  text-decoration: none;
  color: red;
  transition: all 0.3s ease;
}
section.wrapper .container .pagebody-content p.pagebody-text a:hover {
  color: rgb(196, 0, 0);
}
section.wrapper .container .pagebody-content .web-link {
  margin-top: 20px;
}
section.wrapper .container .pagebody-content p.subtitle {
  font-size: 35px;
  font-weight: 300;
  margin: 20px 0px;
}
section.wrapper .container .pagebody-content p.subtitle a {
  text-decoration: none;
  color: red;
  transition: all 0.3s ease;
}
section.wrapper .container .pagebody-content p.subtitle a:hover {
  color: rgb(196, 0, 0);
}
section.wrapper .container .pagebody-content .nb {
  padding: 20px;
  background-color: #f3f3f3;
  margin: 20px 0;
  border-radius: 5px;
  font-size: 17px;
  color: var(--gray);
}
section.wrapper .container .pagebody-content .nb span.voltage-emoji {
  font-size: 21px;
  margin-right: 10px;
}
section.wrapper section.divider .wrapper-divider {
  width: 1000px;
  border-bottom: 1px solid #d7d7d7;
  margin: 100px auto;
}
section.wrapper .mind-map-graphic {
  padding: 200px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.wrapper .mind-map-graphic img.mind-map {
  max-width: 1000px;
  padding: 0 30px;
}

section.final-design {
  padding: 50px 0;
}
section.final-design .container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 0 50px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  section.heading-wrapper {
    padding: 200px 0;
    gap: 30px;
  }
  section.heading-wrapper img.touchbase-logo {
    width: 150px;
  }
  section.heading-wrapper h1.header {
    font-size: 50px;
    color: var(--primary);
    text-align: center;
  }
  section.heading-wrapper p.subhead {
    font-size: 21px;
    text-align: center;
    max-width: 550px;
    padding: 0 30px;
  }
  section.project-image {
    padding: 200px 0 0 0;
    background-color: var(--white);
  }
  section.project-image .container {
    max-width: 1000px;
    padding: 0 50px;
    position: relative;
  }
  section.project-image .container img.mobile-ui {
    position: absolute;
    width: 280px;
    top: 150px;
    right: 90px;
  }
  section.wrapper {
    padding: 100px 0;
  }
  section.wrapper .container {
    width: 700px;
    flex-direction: row;
  }
  section.wrapper .container .feature-header h1.heading {
    font-size: 30px;
    color: var(--primary);
  }
  section.wrapper .container .pagebody-content p.subhead {
    font-size: 19px;
    margin-bottom: 20px;
  }
  section.wrapper .container .pagebody-content p.subhead span.emoji {
    margin-right: 15px;
    font-size: 21px;
  }
  section.wrapper .container .pagebody-content p.pagebody-text {
    font-size: 17px;
    margin-bottom: 0px;
  }
  section.wrapper .container .pagebody-content p.pagebody-text a {
    color: #141452;
    transition: all 0.3s ease;
  }
  section.wrapper .container .pagebody-content p.pagebody-text a:hover {
    color: red;
  }
  section.wrapper .container .pagebody-content p.subtitle {
    font-size: 25px;
    font-weight: 300;
    margin: 20px 0px;
  }
  section.wrapper .container .pagebody-content p.subtitle a {
    text-decoration: underline;
    color: var(--gray);
    transition: all 0.3s ease;
  }
  section.wrapper .container .pagebody-content p.subtitle a:hover {
    color: red;
    text-decoration: underline;
  }
  section.wrapper .container .pagebody-content .nb {
    padding: 20px;
    margin: 20px 0;
    font-size: 15px;
  }
  section.wrapper .container .pagebody-content .nb span.voltage-emoji {
    font-size: 17px;
    margin-right: 10px;
  }
  section.wrapper section.divider .wrapper-divider {
    width: 700px;
    border-bottom: 1px solid #d7d7d7;
    margin: 50px auto;
  }
  section.wrapper .mind-map-graphic {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  section.heading-wrapper {
    padding: 130px 0;
    gap: 30px;
  }
  section.heading-wrapper img.touchbase-logo {
    width: 100px;
  }
  section.heading-wrapper h1.header {
    font-size: 40px;
  }
  section.heading-wrapper p.subhead {
    font-size: 21px;
    max-width: 400px;
  }
  section.project-image {
    padding: 100px 0 0 0;
    background-color: var(--white);
  }
  section.project-image .container {
    max-width: 1000px;
    padding: 0 30px;
    position: relative;
  }
  section.project-image .container img.mobile-ui {
    position: absolute;
    width: 200px;
    top: 50px;
    right: 120px;
  }
  section.wrapper {
    padding: 50px 0;
  }
  section.wrapper .container {
    width: 400px;
    flex-direction: column;
    padding: 0 30px;
  }
  section.wrapper .container .feature-header {
    margin-bottom: 20px;
  }
  section.wrapper .container .feature-header h1.heading {
    font-size: 30px;
    color: var(--primary);
  }
  section.wrapper .container .pagebody-content p.subhead {
    font-size: 19px;
    margin-bottom: 20px;
  }
  section.wrapper .container .pagebody-content p.subhead span.emoji {
    margin-right: 15px;
    font-size: 21px;
  }
  section.wrapper .container .pagebody-content p.pagebody-text {
    font-size: 17px;
    margin-bottom: 0px;
  }
  section.wrapper .container .pagebody-content p.pagebody-text a {
    color: #141452;
    transition: all 0.3s ease;
  }
  section.wrapper .container .pagebody-content p.pagebody-text a:hover {
    color: red;
  }
  section.wrapper .container .pagebody-content p.subtitle {
    font-size: 25px;
    font-weight: 300;
    margin: 20px 0px;
  }
  section.wrapper .container .pagebody-content p.subtitle a {
    text-decoration: underline;
    color: var(--gray);
    transition: all 0.3s ease;
  }
  section.wrapper .container .pagebody-content p.subtitle a:hover {
    color: red;
    text-decoration: underline;
  }
  section.wrapper .container .pagebody-content .nb {
    padding: 20px;
    margin: 20px 0;
    font-size: 15px;
  }
  section.wrapper .container .pagebody-content .nb span.voltage-emoji {
    font-size: 17px;
    margin-right: 10px;
  }
  section.wrapper section.divider .wrapper-divider {
    width: 400px;
    border-bottom: 1px solid #d7d7d7;
    margin: 50px auto;
  }
  section.wrapper .mind-map-graphic {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.final-design {
    padding: 30px 0;
  }
  section.final-design .container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 0 30px;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  section.heading-wrapper {
    padding: 50px 0;
    gap: 20px;
  }
  section.heading-wrapper img.touchbase-logo {
    width: 80px;
  }
  section.heading-wrapper h1.header {
    font-size: 30px;
  }
  section.heading-wrapper p.subhead {
    font-size: 17px;
    max-width: 400px;
  }
  section.project-image {
    padding: 30px 0 0 0;
    background-color: var(--white);
  }
  section.project-image .container {
    max-width: 1000px;
    padding: 0 10px;
    position: relative;
  }
  section.project-image .container img.mobile-ui {
    position: absolute;
    width: 200px;
    top: 50px;
    right: 120px;
  }
  section.wrapper {
    padding: 50px 0;
  }
  section.wrapper .container {
    width: 100%;
    padding: 0 30px;
    flex-direction: column;
  }
  section.wrapper .container .feature-header {
    margin-bottom: 20px;
  }
  section.wrapper .container .feature-header h1.heading {
    font-size: 25px;
    color: var(--primary);
  }
  section.wrapper .container .pagebody-content p.subhead {
    font-size: 19px;
    margin-bottom: 20px;
  }
  section.wrapper .container .pagebody-content p.subhead span.emoji {
    margin-right: 15px;
    font-size: 21px;
  }
  section.wrapper .container .pagebody-content p.pagebody-text {
    font-size: 17px;
    margin-bottom: 0px;
  }
  section.wrapper .container .pagebody-content p.pagebody-text a {
    color: #141452;
    transition: all 0.3s ease;
  }
  section.wrapper .container .pagebody-content p.pagebody-text a:hover {
    color: red;
  }
  section.wrapper .container .pagebody-content p.subtitle {
    font-size: 25px;
    font-weight: 300;
    margin: 20px 0px;
  }
  section.wrapper .container .pagebody-content p.subtitle a {
    text-decoration: underline;
    color: var(--gray);
    transition: all 0.3s ease;
  }
  section.wrapper .container .pagebody-content p.subtitle a:hover {
    color: red;
    text-decoration: underline;
  }
  section.wrapper .container .pagebody-content .nb {
    padding: 20px;
    margin: 20px 0;
    font-size: 15px;
  }
  section.wrapper .container .pagebody-content .nb span.voltage-emoji {
    font-size: 17px;
    margin-right: 10px;
  }
  section.wrapper section.divider {
    padding: 50px 30px;
  }
  section.wrapper section.divider .wrapper-divider {
    margin: 0 0;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
  }
  section.wrapper .mind-map-graphic {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.final-design {
    padding: 20px 0;
  }
  section.final-design .container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 0 2%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=touchbase.css.map */