section.ui-design {
    background-image: url(../../assets/images/ui-ux/touchbase/ui-design.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media (max-width: 1024px) {
    section.ui-design {
        height: 80vh;
    }
}

@media (max-width: 768px) {
    section.ui-design {
        height: 60vh;
    }
}
