.luxe-aura{
  background-image: url(../../assets/images/pages/3d-design/luxe-aura-beauty-spa-3d-design.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.iphone {
  background-image: url(../../assets/images/pages/3d-design/iPhone-17-pro-max.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.kitchen {
  background-image: url(../../assets/images/pages/3d-design/kitchen.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.gate {
  background-image: url(../../assets/images/pages/3d-design/gate.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}
