.hero-eca {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../assets/images/Pages/eca/ellchart-chartered-accountants-cover-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.red {
    background-image: linear-gradient(to bottom, rgba(192,39,45,1), rgba(192,39,45,0)), url(../../assets/images/Pages/eca/color-image1.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.yellow {
    background-image: linear-gradient(to bottom, rgba(244,198,3,1), rgba(244,198,3,0)), url(../../assets/images/Pages/eca/color-image2.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cadet-grey {
    background-image: linear-gradient(to bottom, rgba(143,164,165,1), rgba(143,164,165,0)), url(../../assets/images/Pages/eca/color-image3.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.arsenic {
    background-image: linear-gradient(to bottom, rgba(56,66,66,1), rgba(56,66,66,0)), url(../../assets/images/Pages/eca/color-image4.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.eca-logo {
    padding: 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 700px;
    }
}

section.section-eca-quote {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../assets/images/Pages/eca/ellchart-chartered-accountants-images.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .text {
        width: 1000px;
        display: flex;
        flex-direction: column;

        h2 {
            color: var(--white);
            font-size: 70px;

            span {
                opacity: .4;
            }
        }
    }
}

@media (max-width: 1024px) {

    .eca-logo {
        padding: 200px 0 300px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img {
            width: 500px;
        }
    }

    section.eca-colors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        img {
            width: 700px;
            margin: 0 20px;
        }
    }

    section.section-eca-quote {
        height: 80vh;
    
        .text {
            width: 700px;
            display: flex;
            flex-direction: column;
    
            h2 {
                color: var(--white);
                font-size: 50px;
    
                span {
                    opacity: .4;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .eca-logo {
        padding: 100px 0 200px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img {
            width: 400px;
        }
    }

    section.eca-colors {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        img {
            width: 425px;
            margin: 0 20px;
        }
    }

    section.section-eca-quote {
        height: 70vh;
        margin-bottom: 10px;
    
        .text {
            width: 400px;
            display: flex;
            flex-direction: column;
    
            h2 {
                color: var(--white);
                font-size: 30px;
    
                span {
                    opacity: .4;
                }
            }
        }
    }
}

@media (max-width: 425px) {

    .eca-logo {
        padding: 100px 0 200px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img {
            width: 300px;
        }
    }

    section.eca-colors {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        img {
            width: 100%;
            padding: 0 20px;
        }
    }

    section.section-eca-quote {
        height: 70vh;
        margin-bottom: 10px;
    
        .text {
            width: 350px;
            display: flex;
            flex-direction: column;
    
            h2 {
                color: var(--white);
                font-size: 30px;
    
                span {
                    opacity: .4;
                }
            }
        }
    }
}