header {
    background-color: #2e465e;
    border-bottom: 1px solid #3a5772;
    backdrop-filter: blur(10px);
    display: flex;
    height: 7vh;
    width: 100%;
    z-index: 999;
    padding: 0 15px;

    nav.navigation-bar {
        width: 1000px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;

        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;

            a {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    display: block;
                    width: 110px;
                    opacity: 0.8;
                    transition: all 0.3s ease 0s;

                    &:hover {
                        opacity: 1;
                    }
                }

                img.mobile-logo {
                    display: none;
                }
            }
        }

        .nav-items {
            ul {
                list-style: none;
                display: flex;
                padding: 8px 15px;
                gap: 30px;

                li {
                    a {
                        text-decoration: none;
                        color: var(--white);
                        font-size: 12px;
                        font-weight: 400;
                        opacity: 0.7;
                        border-radius: 0 0 2px 2px;
                        transition: all 0.5s ease 0s;
                        text-transform: uppercase;
                        letter-spacing: 0.05rem;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            ul.mobile-menu {
                display: none;
            }
        }

        .social-media {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: -13px;

            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                // gap: 25px;

                li {
                    display: block;

                    a {
                        display: flex;
                        text-decoration: none;
                        color: var(--white);
                        padding: 7px 15px;
                        font-size: 20px;
                        transition: all 0.5s ease 0s;
                        border-radius: 0 0 2px 2px;
                        opacity: 0.6;

                        img {
                            width: 17px;
                            color: #ebeff2;
                        }

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

// media Query

@media (max-width: 854px) {
    header {
        nav.navigation-bar {
            .nav-items {
                margin-right: -13px;

                ul {
                    list-style: none;
                    gap: 30px;

                    li {
                        a {
                            text-decoration: none;
                            color: var(--white);
                            font-size: 12px;
                            font-weight: 400;
                            opacity: 0.7;
                            border-radius: 0 0 2px 2px;
                            transition: all 0.5s ease 0s;

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .social-media {
                display: none;
            }
        }
    }
}

@media (max-width: 600px) {
    header {
        nav.navigation-bar {
            .nav-items {
                ul {
                    display: none;
                }

                ul.mobile-menu {
                    display: flex;
                }
            }
        }
    }
}

@media (max-width: 447px) {
    header {
        nav.navigation-bar {
            .logo {
                a {
                    img {
                        display: none;
                    }

                    img.mobile-logo {
                        display: block;
                        width: 20px;
                    }
                }
            }

            .nav-items {
                ul {
                    display: none;
                }

                ul.mobile-menu {
                    display: flex;
                }
            }
        }
    }
}
