.hero-b-fit-green-logo {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.0)), url(../../assets/images/Pages/b-fit-green-logo/man-lifting-weights.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

section.main-logo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 700px;
    }
}

section.b-fit-vest-and-water-botlle {
    padding: 200px 0 50px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    img.vest {
        width: 700px;
        margin-bottom: 150px;
    }

    img.water-bottle {
        width: 900px;
    }
}

section.logo-color-varietions {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .women-image {
        background-image: url(../../assets/images/Pages/b-fit-green-logo/gym-ladies.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex: 1;
        height: inherit;
        border-top: 1px solid var(--white);
    }

    .logos {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;

        .main-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            border: 1px solid var(--white);

            img {
                width: 400px;
            }
        }

        .green-monochrome-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #232323;
            flex: 1;

            img {
                width: 400px;
            }
        }
    }
} 

section.logo-lockup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-items: center;

    p {
        font-size: 25px;
        color: var(--gray);
        width: 600px;
        text-align: center;
        margin-bottom: 50px;
    }

    .images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 130px;

        img.main-logo {
            width: 400px;
        }

        img.logo-mark {
            width: 200px;
        }

        img.logo-symbol {
            width: 60px;
        }
    }   
}

@media (max-width: 1024px) {

    section.main-logo {
        height: 50vh;
    
        img {
            width: 500px;
        }
    }

    section.b-fit-vest-and-water-botlle {
        padding: 200px 0 50px 0;
    
        img.vest {
            width: 500px;
            margin-bottom: 150px;
        }
    
        img.water-bottle {
            width: 700px;
        }
    }

    section.logo-color-varietions {
        display: flex;
        flex-direction: row;
        height: 100vh;
    
        .women-image {
            flex: 1;
            height: inherit;
        }
    
        .logos {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 100%;
    
            .main-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                border: 1px solid var(--white);
    
                img {
                    width: 200px;
                }
            }
    
            .green-monochrome-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #232323;
                flex: 1;
    
                img {
                    width: 200px;
                }
            }
        }
    } 

    section.logo-lockup {
        padding: 300px 0;
    
        p {
            font-size: 25px;
            width: 600px;
            margin-bottom: 30px;
        }
    
        .images {

            gap: 70px;
    
            img.main-logo {
                width: 300px;
            }
    
            img.logo-mark {
                width: 150px;
            }
    
            img.logo-symbol {
                width: 50px;
            }
        }   
    }
}

@media (max-width: 768px) {

    section.main-logo {
        height: 50vh;
    
        img {
            width: 400px;
        }
    }

    section.b-fit-vest-and-water-botlle {
        padding: 200px 0 50px 0;
    
        img.vest {
            width: 400px;
            margin-bottom: 150px;
        }
    
        img.water-bottle {
            width: 400px;
        }
    }

    section.logo-color-varietions {
        display: flex;
        flex-direction: row;
        height: 100vh;
    
        .women-image {
            flex: 1;
            height: inherit;
        }
    
        .logos {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 100%;
    
            .main-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                border: 1px solid var(--white);
    
                img {
                    width: 150px;
                }
            }
    
            .green-monochrome-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #232323;
                flex: 1;
    
                img {
                    width: 150px;
                }
            }
        }
    } 

    section.logo-lockup {
        padding: 100px 0;
    
        p {
            font-size: 25px;
            width: 400px;
            margin-bottom: 30px;
        }
    
        .images {
            flex-direction: column;

            gap: 70px;
    
            img.main-logo {
                width: 300px;
            }
    
            img.logo-mark {
                width: 150px;
            }
    
            img.logo-symbol {
                width: 50px;
            }
        }   
    }
}

@media (max-width: 425px) {

    section.main-logo {
        height: 50vh;
    
        img {
            width: 350px;
        }
    }

    section.b-fit-vest-and-water-botlle {
        padding: 100px 0 50px 0;
    
        img.vest {
            width: 350px;
            margin-bottom: 150px;
        }
    
        img.water-bottle {
            width: 350px;
        }
    }

    section.logo-color-varietions {
        display: flex;
        flex-direction: column;
        height: 150vh;
    
        .women-image {
            flex: 1;
            height: inherit;
        }
    
        .logos {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 100%;
    
            .main-logo {
                flex: 1;
                border: 1px solid var(--white);
                padding: 100px 0;
    
                img {
                    width: 300px;
                }
            }
    
            .green-monochrome-logo {
                flex: 1;
                padding: 100px 0;
    
                img {
                    width: 300px;
                }
            }
        }
    } 

    section.logo-lockup {
        padding: 150px 0;
    
        p {
            font-size: 25px;
            width: 350px;
            margin-bottom: 30px;
        }
    
        .images {
            flex-direction: column;

            gap: 70px;
    
            img.main-logo {
                width: 300px;
            }
    
            img.logo-mark {
                width: 150px;
            }
    
            img.logo-symbol {
                width: 50px;
            }
        }   
    }
}