.hero-b-fit-green-logo {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(../../assets/images/Pages/b-fit-green-logo/man-lifting-weights.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

section.main-logo {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.main-logo img {
  width: 700px;
}

section.b-fit-vest-and-water-botlle {
  padding: 200px 0 50px 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section.b-fit-vest-and-water-botlle img.vest {
  width: 700px;
  margin-bottom: 150px;
}
section.b-fit-vest-and-water-botlle img.water-bottle {
  width: 900px;
}

section.logo-color-varietions {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
section.logo-color-varietions .women-image {
  background-image: url(../../assets/images/Pages/b-fit-green-logo/gym-ladies.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  height: inherit;
  border-top: 1px solid var(--white);
}
section.logo-color-varietions .logos {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
section.logo-color-varietions .logos .main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 1px solid var(--white);
}
section.logo-color-varietions .logos .main-logo img {
  width: 400px;
}
section.logo-color-varietions .logos .green-monochrome-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  flex: 1;
}
section.logo-color-varietions .logos .green-monochrome-logo img {
  width: 400px;
}

section.logo-lockup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  align-items: center;
}
section.logo-lockup p {
  font-size: 25px;
  color: var(--gray);
  width: 600px;
  text-align: center;
  margin-bottom: 50px;
}
section.logo-lockup .images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 130px;
}
section.logo-lockup .images img.main-logo {
  width: 400px;
}
section.logo-lockup .images img.logo-mark {
  width: 200px;
}
section.logo-lockup .images img.logo-symbol {
  width: 60px;
}

@media (max-width: 1024px) {
  section.main-logo {
    height: 50vh;
  }
  section.main-logo img {
    width: 500px;
  }
  section.b-fit-vest-and-water-botlle {
    padding: 200px 0 50px 0;
  }
  section.b-fit-vest-and-water-botlle img.vest {
    width: 500px;
    margin-bottom: 150px;
  }
  section.b-fit-vest-and-water-botlle img.water-bottle {
    width: 700px;
  }
  section.logo-color-varietions {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  section.logo-color-varietions .women-image {
    flex: 1;
    height: inherit;
  }
  section.logo-color-varietions .logos {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }
  section.logo-color-varietions .logos .main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 1px solid var(--white);
  }
  section.logo-color-varietions .logos .main-logo img {
    width: 200px;
  }
  section.logo-color-varietions .logos .green-monochrome-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    flex: 1;
  }
  section.logo-color-varietions .logos .green-monochrome-logo img {
    width: 200px;
  }
  section.logo-lockup {
    padding: 300px 0;
  }
  section.logo-lockup p {
    font-size: 25px;
    width: 600px;
    margin-bottom: 30px;
  }
  section.logo-lockup .images {
    gap: 70px;
  }
  section.logo-lockup .images img.main-logo {
    width: 300px;
  }
  section.logo-lockup .images img.logo-mark {
    width: 150px;
  }
  section.logo-lockup .images img.logo-symbol {
    width: 50px;
  }
}
@media (max-width: 768px) {
  section.main-logo {
    height: 50vh;
  }
  section.main-logo img {
    width: 400px;
  }
  section.b-fit-vest-and-water-botlle {
    padding: 200px 0 50px 0;
  }
  section.b-fit-vest-and-water-botlle img.vest {
    width: 400px;
    margin-bottom: 150px;
  }
  section.b-fit-vest-and-water-botlle img.water-bottle {
    width: 400px;
  }
  section.logo-color-varietions {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  section.logo-color-varietions .women-image {
    flex: 1;
    height: inherit;
  }
  section.logo-color-varietions .logos {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }
  section.logo-color-varietions .logos .main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 1px solid var(--white);
  }
  section.logo-color-varietions .logos .main-logo img {
    width: 150px;
  }
  section.logo-color-varietions .logos .green-monochrome-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    flex: 1;
  }
  section.logo-color-varietions .logos .green-monochrome-logo img {
    width: 150px;
  }
  section.logo-lockup {
    padding: 100px 0;
  }
  section.logo-lockup p {
    font-size: 25px;
    width: 400px;
    margin-bottom: 30px;
  }
  section.logo-lockup .images {
    flex-direction: column;
    gap: 70px;
  }
  section.logo-lockup .images img.main-logo {
    width: 300px;
  }
  section.logo-lockup .images img.logo-mark {
    width: 150px;
  }
  section.logo-lockup .images img.logo-symbol {
    width: 50px;
  }
}
@media (max-width: 425px) {
  section.main-logo {
    height: 50vh;
  }
  section.main-logo img {
    width: 350px;
  }
  section.b-fit-vest-and-water-botlle {
    padding: 100px 0 50px 0;
  }
  section.b-fit-vest-and-water-botlle img.vest {
    width: 350px;
    margin-bottom: 150px;
  }
  section.b-fit-vest-and-water-botlle img.water-bottle {
    width: 350px;
  }
  section.logo-color-varietions {
    display: flex;
    flex-direction: column;
    height: 150vh;
  }
  section.logo-color-varietions .women-image {
    flex: 1;
    height: inherit;
  }
  section.logo-color-varietions .logos {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }
  section.logo-color-varietions .logos .main-logo {
    flex: 1;
    border: 1px solid var(--white);
    padding: 100px 0;
  }
  section.logo-color-varietions .logos .main-logo img {
    width: 300px;
  }
  section.logo-color-varietions .logos .green-monochrome-logo {
    flex: 1;
    padding: 100px 0;
  }
  section.logo-color-varietions .logos .green-monochrome-logo img {
    width: 300px;
  }
  section.logo-lockup {
    padding: 150px 0;
  }
  section.logo-lockup p {
    font-size: 25px;
    width: 350px;
    margin-bottom: 30px;
  }
  section.logo-lockup .images {
    flex-direction: column;
    gap: 70px;
  }
  section.logo-lockup .images img.main-logo {
    width: 300px;
  }
  section.logo-lockup .images img.logo-mark {
    width: 150px;
  }
  section.logo-lockup .images img.logo-symbol {
    width: 50px;
  }
}/*# sourceMappingURL=b-fit-green-logo.css.map */