:root {
    --primary: #1b2f3f;
    --secondary: #2e465e;
    --white: #ebeff2;
    --acent: #ffa656;
    --gray: #54595f;
}

.hero-prime-drive {
    background-image: url(../../assets/images/pages/prime-drive/prime-drive-logo-cover-page.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.prime-drive-main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 300px 0 200px 0;

    img {
        width: 600px;
    }
}

.grayish-green {
    background-color: #ccd1c1;
}

.dark-grayish-green {
    background-color: #a0ac97;
}

.dark-grayish-cyan {
    background-color: #62736d;
}

.pine-tree {
    background-color: #2a2c1f;
}

.cadet-grey {
    background-color: #8fa4a5;

    h2,
    p {
        color: var(--white);
    }
}

section.quote {
    background-image: url(../../assets/images/pages/prime-drive/prime-drive-car.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 200px;

    .image-filter {
        height: inherit;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        img {
            width: 100px;
        }

        h1 {
            color: var(--white);
            font-size: 50px;
            width: 800px;
            text-align: center;
        }
    }
}

@media (max-width: 1024px) {
    .prime-drive-main-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 200px 0 300px 0;

        img {
            width: 500px;
        }
    }

    section.quote {
        height: 80vh;
        margin: 20px 0 0 0;

        .image-filter {
            height: inherit;
            gap: 30px;

            img {
                width: 100px;
            }

            h1 {
                color: var(--white);
                font-size: 34px;
                width: 600px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .prime-drive-main-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 200px 0 300px 0;

        img {
            width: 400px;
        }
    }

    section.quote {
        height: 60vh;

        .image-filter {
            height: inherit;
            gap: 30px;

            img {
                width: 80px;
            }

            h1 {
                color: var(--white);
                font-size: 28px;
                width: 350px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 425px) {
    .prime-drive-main-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0 200px 0;

        img {
            width: 100%;
            padding: 0 30px;
        }
    }

    section.quote {
        height: 60vh;

        .image-filter {
            height: inherit;
            gap: 30px;

            img {
                width: 70px;
            }

            h1 {
                color: var(--white);
                font-size: 21px;
                width: 100%;
                padding: 0 30px;
                text-align: center;
            }
        }
    }
}
