:root {
    --primary: #1B2F3F;
    --secondary: #2E465E;
    --white: #EBEFF2;
    --acent: #FFA656;
    --gray: #54595F;
}

.hero-prime-drive {
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-logo-cover-page.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.prime-drive-main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    img {
        width: 600px;
    }
}

section.colors {
    padding: 100px 20px 200px 20px;

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 1000px;
        margin: 0 auto;

        .grayish-green,
        .dark-grayish-green,
        .dark-grayish-cyan,
        .pine-tree {
            height: 300px;
            border-radius: 10px;
            padding: 30px;

            h2, p {
                color: var(--white);
            }
        }

        .grayish-green {
            background-color: #CCD1C1;
        }

        .dark-grayish-green {
            background-color: #A0AC97;
        }

        .dark-grayish-cyan {
            background-color: #62736D;
        }

        .pine-tree {
            background-color: #2A2C1F;
        }
    }

    .main-color {
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 20px;

        .cadet-grey {
            background-color: #8FA4A5;
            height: 300px;
            border-radius: 10px;
            padding: 30px;

            h2, p {
                color: var(--white);
            }
        }
    }
}

section.quote {
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-car.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .image-filter {
        height: inherit;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        img {
            width: 100px;
        }

        h1 {
            color: var(--white);
            font-size: 50px;
            width: 800px;
            text-align: center;
        }
    }
}

@media (max-width: 1024px) {

    .prime-drive-main-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    
        img {
            width: 500px;
        }
    }

    section.colors {
        padding: 100px 20px 20px 20px;
    
        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    
        .main-color {
            margin: 0 auto;
            margin-top: 20px;
    
            .teal-blue {
                background-color: #2F7992;
                height: 300px;
                border-radius: 10px;
                padding: 30px;
            }
        }
    }

    section.quote {
        height: 80vh;
    
        .image-filter {
            height: inherit;
            gap: 30px;
    
            img {
                width: 100px;
            }
    
            h1 {
                color: var(--white);
                font-size: 34px;
                width: 600px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px) {

    .prime-drive-main-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    
        img {
            width: 400px;
        }
    }

    section.colors {
        padding: 100px 20px 20px 20px;
    
        .grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    
        .main-color {
            margin: 0 auto;
            margin-top: 20px;
        }
    }

    section.quote {
        height: 60vh;
    
        .image-filter {
            height: inherit;
            gap: 30px;
    
            img {
                width: 80px;
            }
    
            h1 {
                color: var(--white);
                font-size: 28px;
                width: 350px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 425px) {

    .prime-drive-main-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
    
        img {
            width: 300px;
        }
    }

    section.colors {
        padding: 100px 20px 20px 20px;
    
        .grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    
        .main-color {
            margin: 0 auto;
            margin-top: 20px;
        }
    }

    section.quote {
        height: 60vh;
    
        .image-filter {
            height: inherit;
            gap: 30px;
    
            img {
                width: 80px;
            }
    
            h1 {
                color: var(--white);
                font-size: 28px;
                width: 300px;
                text-align: center;
            }
        }
    }
}