.hero-prime-drive {
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-logo-cover-page.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.prime-drive-logo {
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-logo.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.prime-drive-cars {
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-cars.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.prime-drive-color-palette {
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-color-palette.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.prime-drive-quote {
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-quote.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.prime-drive-logo-cover-page {
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-logo-cover-page.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.prime-drive-wool-logo {
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-wool-logo.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.prime-drive-indoor-billboard {
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-indoor-billboard.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.prime-drive-billboard {
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-billboard.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.prime-drive-bottle-drink{
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-bottle-drink.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.prime-drive-pin{
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-pin.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.prime-drive-wall-logo{
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-wall-logo.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.prime-drive-logo-sign{
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-logo-sign.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.prime-drive-lanyard{
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-lanyard.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.prime-drive-indoor-poster{
    background-image: url(../../assets/images/Pages/prime-drive/prime-drive-indoor-poster.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}