:root {
  --primary: #1B2F3F;
  --secondary: #2E465E;
  --white: #EBEFF2;
  --acent: #FFA656;
  --gray: #54595F;
}

.hero-prime-drive {
  background-image: url(../../assets/images/pages/prime-drive/prime-drive-logo-cover-page.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.prime-drive-main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.prime-drive-main-logo img {
  width: 600px;
}

section.colors {
  padding: 100px 20px 200px 20px;
}
section.colors .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}
section.colors .grid .grayish-green,
section.colors .grid .dark-grayish-green,
section.colors .grid .dark-grayish-cyan,
section.colors .grid .pine-tree {
  height: 300px;
  border-radius: 10px;
  padding: 30px;
}
section.colors .grid .grayish-green h2, section.colors .grid .grayish-green p,
section.colors .grid .dark-grayish-green h2,
section.colors .grid .dark-grayish-green p,
section.colors .grid .dark-grayish-cyan h2,
section.colors .grid .dark-grayish-cyan p,
section.colors .grid .pine-tree h2,
section.colors .grid .pine-tree p {
  color: var(--white);
}
section.colors .grid .grayish-green {
  background-color: #CCD1C1;
}
section.colors .grid .dark-grayish-green {
  background-color: #A0AC97;
}
section.colors .grid .dark-grayish-cyan {
  background-color: #62736D;
}
section.colors .grid .pine-tree {
  background-color: #2A2C1F;
}
section.colors .main-color {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}
section.colors .main-color .cadet-grey {
  background-color: #8FA4A5;
  height: 300px;
  border-radius: 10px;
  padding: 30px;
}
section.colors .main-color .cadet-grey h2, section.colors .main-color .cadet-grey p {
  color: var(--white);
}

section.quote {
  background-image: url(../../assets/images/pages/prime-drive/prime-drive-car.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
section.quote .image-filter {
  height: inherit;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
section.quote .image-filter img {
  width: 100px;
}
section.quote .image-filter h1 {
  color: var(--white);
  font-size: 50px;
  width: 800px;
  text-align: center;
}

@media (max-width: 1024px) {
  .prime-drive-main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .prime-drive-main-logo img {
    width: 500px;
  }
  section.colors {
    padding: 100px 20px 20px 20px;
  }
  section.colors .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  section.colors .main-color {
    margin: 0 auto;
    margin-top: 20px;
  }
  section.colors .main-color .teal-blue {
    background-color: #2F7992;
    height: 300px;
    border-radius: 10px;
    padding: 30px;
  }
  section.quote {
    height: 80vh;
  }
  section.quote .image-filter {
    height: inherit;
    gap: 30px;
  }
  section.quote .image-filter img {
    width: 100px;
  }
  section.quote .image-filter h1 {
    color: var(--white);
    font-size: 34px;
    width: 600px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .prime-drive-main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  .prime-drive-main-logo img {
    width: 400px;
  }
  section.colors {
    padding: 100px 20px 20px 20px;
  }
  section.colors .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  section.colors .main-color {
    margin: 0 auto;
    margin-top: 20px;
  }
  section.quote {
    height: 60vh;
  }
  section.quote .image-filter {
    height: inherit;
    gap: 30px;
  }
  section.quote .image-filter img {
    width: 80px;
  }
  section.quote .image-filter h1 {
    color: var(--white);
    font-size: 28px;
    width: 350px;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .prime-drive-main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }
  .prime-drive-main-logo img {
    width: 300px;
  }
  section.colors {
    padding: 100px 20px 20px 20px;
  }
  section.colors .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  section.colors .main-color {
    margin: 0 auto;
    margin-top: 20px;
  }
  section.quote {
    height: 60vh;
  }
  section.quote .image-filter {
    height: inherit;
    gap: 30px;
  }
  section.quote .image-filter img {
    width: 80px;
  }
  section.quote .image-filter h1 {
    color: var(--white);
    font-size: 28px;
    width: 300px;
    text-align: center;
  }
}/*# sourceMappingURL=prime-drive.css.map */