:root {
    --primary: #1B2F3F;
    --secondary: #2E465E;
    --white: #EBEFF2;
    --acent: #FFA656;
    --gray: #54595F;
}

.hero-niche {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.0)), url(../../assets/images/pages/niche/niche-logo-cover-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.niche-logo-image-graphic {
    background-image: url(../../assets/images/pages/niche/niche-logo-image-graphic.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.niche-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0 200px 0;

    img {
        width: 600px;
    }
}

section.colors {
    padding: 200px 20px;

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1000px;
        gap: 20px;
        margin: 0 auto;

        .charleston-green,
        .feldgraun,
        .yellow-green-crayola,
        .maximum-green {
            height: 300px;
            border-radius: 10px;
            padding: 30px;

            h2, p {
                color: var(--white);
            }

            .title, .hex-code {
                color: #262B28;
            }
        }

        .charleston-green {
            background-color: #262B28;
        }

        .feldgraun {
            background-color: #535E57;
        }

        .yellow-green-crayola {
            background-color: #B6E27D;
        }

        .maximum-green {
            background-color: #65972E;
        }
    }

    .main-color {
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 20px;

        .teal-blue {
            background-color: #2F7992;
            height: 300px;
            border-radius: 10px;
            padding: 30px;

            h2, p {
                color: var(--white);
            }
        }
    }
}

section.posters {
    padding: 0 15px 200px 15px;

    .poster-container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1000px;
        margin: 0 auto;
        gap: 20px;

        .logic-poster {
            background-image: url(../../assets/images/pages/niche/logi-computer-mouse.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        .main-poster {
            background-image: url(../../assets/images/pages/niche/african-american-man.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .logic-poster,
        .main-poster {
            height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            padding: 30px;
    
            .logo-symbol {
    
                img {
                    width: 250px;
                    margin-bottom: 70px;
                }
            }
    
            .meta-data {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 20px;
    
                .logo {
                    width: 150px;
                }
    
                .quorts {
                    width: 50px;
                }
    
                p {
                    color: var(--white);
                    font-size: 21px;
                }
            }
        }
    }
}

section.logo-on-blue-bg {
    background-color: #2F7996;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 

    img {
        width: 700px;
    }
}

section.grid-ads {
    padding: 200px 15px 0 15px;
    
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 1000px;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {

    section.niche-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0 100px 0;
    
        img {
            width: 500px;
            margin: 70px;
        }
    }

    section.colors {
        padding: 20px 15px;
    
        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    
        .main-color {
            margin: 0 auto;
            margin-top: 20px;
    
            .teal-blue {
                background-color: #2F7992;
                height: 300px;
                border-radius: 10px;
                padding: 30px;
            }
        }
    }

    section.posters {
        padding: 0 15px 20px 15px;
    
        .poster-container {
            grid-template-columns: repeat(2, 1fr);
    
            .logic-poster,
            .main-poster {
                height: 700px;
                padding: 20px;
        
                .logo-symbol {
        
                    img {
                        width: 250px;
                        margin-bottom: 70px;
                    }
                }
        
                .meta-data {
                    gap: 20px;
        
                    .logo {
                        width: 150px;
                    }
        
                    .quorts {
                        width: 50px;
                    }
        
                    p {
                        color: var(--white);
                        font-size: 21px;
                    }
                }
            }
        }
    }

    section.logo-on-blue-bg {
    
        img {
            width: 500px;
        }
    }

    section.grid-ads {
        padding: 20px 15px 0 15px;
        
        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 768px) {

    section.niche-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0 50px 0;
    
        img {
            width: 400px;
            margin: 70px;
        }
    }

    section.colors {
        padding: 20px 15px;
    
        .grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    
        .main-color {
            margin: 0 auto;
            margin-top: 20px;
        }
    }

    section.posters {
        padding: 0 15px 20px 15px;
    
        .poster-container {
            grid-template-columns: repeat(1, 1fr);
    
            .logic-poster,
            .main-poster {
                height: 700px;
                padding: 20px;
        
                .logo-symbol {
        
                    img.logo-outline-symbol {
                        width: 250px;
                        margin-bottom: 70px;
                    }
                }
        
                .meta-data {
                    gap: 20px;
        
                    .logo {
                        width: 150px;
                    }
        
                    .quorts {
                        width: 50px;
                    }
        
                    p {
                        color: var(--white);
                        font-size: 21px;
                    }
                }
            }
        }
    }

    section.logo-on-blue-bg {
        height: 70vh;
    
        img {
            width: 420px;
        }
    }

    section.grid-ads {
        padding: 20px 15px 0 15px;
        
        .grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 425px) {

    section.niche-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0 50px 0;
    
        img {
            width: 300px;
            margin: 70px;
        }
    }

    section.colors {
        padding: 20px 15px 0 15px;
    
        .grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    
        .main-color {
            margin: 0 auto;
            margin-top: 20px;
        }
    }

    section.posters {
        padding: 20px 15px 0 15px;
    
        .logic-poster,
        .main-poster {
            height: 600px;
            padding: 20px;
    
            .logo-symbol {
    
                img {
                    width: 250px;
                    margin-bottom: 70px;
                }
            }
        }
    }

    section.logo-on-blue-bg {
        height: 70vh;
        margin: 20px 15px 0 15px;
    
        img {
            width: 300px;
        }
    }

    section.grid-ads {
        padding: 20px 15px 0 15px;
        
        .grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            margin: 0 auto;
        }
    }
}