:root {
    --primary: #1B2F3F;
    --secondary: #2E465E;
    --white: #EBEFF2;
    --acent: #FFA656;
    --gray: #54595F;
}

section.contact-me {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7)), url(../../assets/images/contact-me/contact-simbah-m.webp);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;

    .container {
        background-color: rgba(225, 225, 225, .5);
        height: 500px;
        width: 650px;
        backdrop-filter: blur(20px);
        border-radius: 10px;
        border: .5px #fff solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img.simbahm-logo {
            width: 60px;
            margin-bottom: 40px;
        }

        .lets-chat {
            margin-bottom: 30px;
    
            p {
                font-size: 25px;
                font-family: Simbah M;
                color: var(--white);
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            h1 {
                font-size: 30px;
                color: var(--secondary);
                color: var(--white);
            }
        }
    
        .say-hello {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            h1 {
                font-size: 30px;
                color: var(--secondary);
                color: var(--white);
            }
    
            a {
                text-decoration: none;
                color: var(--white);
    
                span {
                    font-size: 25px;
                    transition: all .3s ease 0s;
    
                    &:hover {
                        color: var(--acent);
                    }
                }
            }
        }
    }
}

@media (max-width: 677px) {

    section.contact-me {
    
        .container {
            height: 500px;
            width: 420px;
    
            img.simbahm-logo {
                width: 60px;
                margin-bottom: 30px;
            }
    
            .lets-chat {
                margin-bottom: 30px;
        
                p {
                    font-size: 25px;
                    margin-bottom: 10px;
                }
    
                h1 {
                    font-size: 25px;
                }
            }
        
            .say-hello {
                gap: 10px;
            }
        }
    }
}

@media (max-width: 425px) {

    section.contact-me {
    
        .container {
            height: 100vh;
            width: 100%;
            border-radius: 0;
            border: none;
    
            img.simbahm-logo {
                width: 60px;
                margin-bottom: 30px;
            }
    
            .lets-chat {
                margin-bottom: 30px;
        
                p {
                    font-size: 25px;
                    margin-bottom: 10px;
                }
    
                h1 {
                    font-size: 25px;
                    width: 250px;
                }
            }
        
            .say-hello {
                gap: 10px;
            }
        }
    }
}