* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    // outline: solid 1px lime;
}

input,
div,
span,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav {
    height: 7vh;
    background-color: #ffffffdd;
    backdrop-filter: blur(10px);
    display: flex;
    border-bottom: 1px solid rgb(217, 217, 217);
    padding: 0 20px;

    .container {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: inherit;

        a.logo {
            img {
                width: 130px;
                opacity: 0.7;
                transition: all 0.3s ease;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .mobile-hamburger {
            display: none;
        }

        .mobile-nav-items {
            display: none;
            pointer-events: none;
        }

        .mobile-mega-menu {
            display: none;
            pointer-events: none;
        }

        .web-nav-items {
            display: flex;

            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                gap: 20px;
                height: inherit;

                li {
                    display: flex;

                    a {
                        position: relative;
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: black;
                        transition: all 0.3s ease;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 500px;

                        &:hover {
                            color: #fcaf45;
                        }

                        .products {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 3px;

                            span {
                                align-items: center;
                                color: black;
                                transition: all 0.3s ease;
                                text-transform: uppercase;
                                font-size: 14px;
                                font-weight: 500px;

                                &:hover {
                                    color: #fcaf45;
                                }
                            }

                            img {
                                width: 20px;
                                transition: all 0.3s ease;
                            }
                        }
                    }

                    // Mega Menu TODO:

                    .overlay {
                        opacity: 0;
                        pointer-events: none;
                        position: fixed;
                        top: 7vh;
                        right: 0;
                        left: 0;
                        height: 93vh;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.256);
                        z-index: 200;
                        transition: all 0.3s ease;
                    }

                    // Mega Menu TODO:

                    .mega-menu {
                        z-index: 300;
                        position: absolute;
                        top: 7vh;
                        left: 0;
                        right: 0;
                        height: 0vh;
                        display: flex;
                        background-color: rgb(255, 255, 255);
                        transition: all 0.6s ease;
                        overflow-y: hidden;

                        .container {
                            pointer-events: none;
                            width: 1000px;
                            margin: 0 auto;

                            a.product-card {
                                opacity: 0;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                gap: 20px;
                                transition: all 0.3s ease;

                                img {
                                    width: 200px;
                                }

                                h1 {
                                    text-transform: uppercase;
                                    font-size: 18px;
                                    font-weight: 400;
                                    letter-spacing: 0.07em;
                                    color: gray;
                                    transition: all 0.3s ease;
                                }

                                &:hover {
                                    h1 {
                                        color: #fcaf45;
                                    }
                                }
                            }
                        }
                    }

                    // hovers TODO:

                    &:hover {
                        a {
                            .products {
                                img {
                                    transform: rotateZ(180deg);
                                }
                            }
                        }

                        .overlay {
                            opacity: 1;
                        }

                        .mega-menu {
                            height: 70vh;

                            .container {
                                .product-card {
                                    opacity: 1;
                                    pointer-events: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    nav {
        .container {
            .mobile-hamburger {
                width: 20px;
                height: 7vh;
                align-items: center;
                display: flex;
                cursor: pointer;

                .menu-icon {
                    position: relative;
                    width: 100%;

                    .line1,
                    .line2 {
                        position: absolute;
                        height: 1.5px;
                        width: 100%;
                        background: rgb(0, 0, 0);
                        transition-duration: 0.3s;
                        transition-property: transform, top;
                        transition-delay: 0s, 0.3s;
                    }

                    .line1 {
                        top: -4px;
                    }

                    .line2 {
                        top: 4px;
                    }
                }
            }

            .web-nav-items {
                display: none;
            }

            .mobile-nav-items {
                display: flex;
                position: fixed;
                top: -20vh;
                right: 0;
                left: 0;
                height: 0vh;
                padding: 40px 20px;
                pointer-events: auto;
                transition: all 0.5s ease;
                overflow-y: hidden;

                ul {
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                    gap: 30px;
                    width: 100%;

                    li {
                        opacity: 0;
                        transition: all 0.7s ease;

                        a {
                            text-decoration: none;
                            color: black;
                            text-transform: uppercase;
                            font-size: 21px;
                        }

                        .mobile-mega-menu-controller {
                            .products {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;

                                span {
                                    text-decoration: none;
                                    color: black;
                                    text-transform: uppercase;
                                    font-size: 21px;
                                }

                                img {
                                    width: 30px;
                                    transform: rotateZ(-90deg);
                                }
                            }
                        }
                    }
                }
            }

            .mobile-mega-menu {
                display: flex;
                flex-direction: column;
                padding: 15px 20px;
                height: 100vh;
                position: fixed;
                top: 0vh;
                right: 0;
                left: 400px;
                pointer-events: auto;
                background-color: rgb(255, 255, 255);
                justify-content: space-between;
                width: 100%;
                transition: all 0.4s ease;
                opacity: 0;
                pointer-events: none;

                .items {
                    display: flex;
                    flex-direction: column;

                    .back-icon {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 20px;

                        img {
                            width: 30px;
                            transform: rotateZ(90deg);
                            display: block;
                        }

                        p {
                            color: black;
                            font-size: 14px;
                            text-transform: uppercase;
                        }
                    }

                    a.product-card {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-decoration: none;
                        gap: 30px;

                        h1 {
                            color: black;
                            text-transform: uppercase;
                            font-size: 19px;
                            font-weight: 500;
                        }

                        img {
                            width: 100px;
                        }
                    }
                }

                .social-media {
                    display: flex;
                    flex-direction: column;

                    hr {
                        margin: 15px 0;
                    }

                    .icons {
                        display: flex;
                        flex-direction: row;

                        ul {
                            list-style-type: none;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            gap: 30px;

                            li {
                                a {
                                    img {
                                        width: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .mobile-hamburger .menu-icon.active {
                span.line1 {
                    top: 0;
                    transform: rotateZ(45deg);
                    transition-property: top, transform;
                    transition-delay: 0s, 0.3s;
                    transition-duration: 0.3s;
                }
                span.line2 {
                    top: 0;
                    transform: rotateZ(-45deg);
                    transition-property: top, transform;
                    transition-delay: 0s, 0.3s;
                    transition-duration: 0.3s;
                }
            }

            .mobile-nav-items.active {
                height: 93vh;
                top: 7vh;
                padding: 20px 20px;

                li {
                    opacity: 1;
                }
            }

            .mobile-mega-menu.active {
                opacity: 1;
                pointer-events: all;
                left: 0;
            }
        }
    }
}
