.nmb-website-hero-image {
  background-image: url(../../assets/images/Pages/nmb-website/nmb-website-cover-page.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.nmb-website {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px 0;
  gap: 30px;
}
section.nmb-website img.nmb-logo {
  width: 150px;
}
section.nmb-website h1 {
  font-size: 70px;
  color: var(--secondary);
}
section.nmb-website span {
  font-size: 50px;
  font-weight: 300;
  color: var(--gray);
}
section.nmb-website img.nmb-website-design {
  width: 950px;
}

section.user-persona {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  gap: 40px;
}
section.user-persona .main-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
section.user-persona .main-titles h1 {
  font-size: 70px;
  color: var(--secondary);
}
section.user-persona .main-titles p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.38105;
  font-weight: 400;
  letter-spacing: 0.011em;
  color: var(--gray);
  text-align: center;
  width: 600px;
}
section.user-persona .titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.user-persona .titles img.user {
  width: 200px;
}
section.user-persona .titles hr {
  border: 1px solid var(--gray);
}
section.user-persona .titles h1 {
  font-size: 70px;
  color: var(--secondary);
}
section.user-persona .titles p {
  color: var(--gray);
  font-size: 21px;
}
section.user-persona .messages {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
section.user-persona .messages img.personal-attributes,
section.user-persona .messages img.frustrations,
section.user-persona .messages img.goals {
  width: 600px;
}

section.user-journey-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  gap: 40px;
}
section.user-journey-map .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.user-journey-map .titles h1 {
  font-size: 70px;
  color: var(--secondary);
}
section.user-journey-map .titles p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.38105;
  font-weight: 400;
  letter-spacing: 0.011em;
  color: var(--gray);
  text-align: center;
  width: 600px;
}
section.user-journey-map img.user-journey-map-diagram {
  width: 900px;
}

section.information-architecture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  gap: 40px;
}
section.information-architecture .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.information-architecture .titles h1 {
  font-size: 70px;
  color: var(--secondary);
}
section.information-architecture .titles p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.38105;
  font-weight: 400;
  letter-spacing: 0.011em;
  color: var(--gray);
  text-align: center;
  width: 600px;
}
section.information-architecture img.ia-diagram {
  width: 1200px;
}
section.information-architecture img.ia-diagram-mobile {
  display: none;
}

section.mind-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  gap: 40px;
}
section.mind-map .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.mind-map .titles h1 {
  font-size: 70px;
  color: var(--secondary);
}
section.mind-map .titles p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.38105;
  font-weight: 400;
  letter-spacing: 0.011em;
  color: var(--gray);
  text-align: center;
  width: 600px;
}
section.mind-map img.mind-map {
  width: 1200px;
}

@media (max-width: 1024px) {
  section.nmb-website h1 {
    font-size: 50px;
  }
  section.nmb-website span {
    font-size: 30px;
  }
  section.nmb-website img.nmb-website-design {
    width: 700px;
  }
  section.user-persona .main-titles h1 {
    font-size: 50px;
    color: var(--secondary);
  }
  section.user-persona .main-titles p {
    font-size: 21px;
    font-weight: 400;
  }
  section.user-persona .titles img.user {
    width: 200px;
  }
  section.user-persona .titles hr {
    border: 1px solid var(--gray);
  }
  section.user-persona .titles h1 {
    font-size: 50px;
    color: var(--secondary);
  }
  section.user-persona .titles p {
    color: var(--gray);
    font-size: 21px;
  }
  section.user-persona .messages {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  section.user-persona .messages img.personal-attributes,
  section.user-persona .messages img.frustrations,
  section.user-persona .messages img.goals {
    width: 600px;
  }
  section.user-journey-map .titles h1 {
    font-size: 50px;
    color: var(--secondary);
  }
  section.user-journey-map .titles p {
    font-size: 21px;
    width: 500px;
  }
  section.user-journey-map img.user-journey-map-diagram {
    width: 700px;
  }
  section.information-architecture .titles h1 {
    font-size: 50px;
    color: var(--secondary);
  }
  section.information-architecture .titles p {
    font-size: 21px;
    width: 500px;
  }
  section.information-architecture img.ia-diagram {
    width: 700px;
  }
  section.mind-map .titles h1 {
    font-size: 50px;
    color: var(--secondary);
  }
  section.mind-map .titles p {
    font-size: 21px;
    width: 500px;
  }
  section.mind-map img.mind-map {
    width: 700px;
  }
}
@media (max-width: 768px) {
  section.nmb-website h1 {
    font-size: 50px;
  }
  section.nmb-website span {
    font-size: 30px;
  }
  section.nmb-website img.nmb-website-design {
    width: 400px;
  }
  section.user-persona .main-titles h1 {
    font-size: 50px;
    color: var(--secondary);
  }
  section.user-persona .main-titles p {
    font-size: 21px;
    font-weight: 400;
    width: 400px;
  }
  section.user-persona .titles img.user {
    width: 200px;
  }
  section.user-persona .titles hr {
    border: 1px solid var(--gray);
  }
  section.user-persona .titles h1 {
    font-size: 50px;
    color: var(--secondary);
  }
  section.user-persona .titles p {
    color: var(--gray);
    font-size: 21px;
  }
  section.user-persona .messages {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  section.user-persona .messages img.personal-attributes,
  section.user-persona .messages img.frustrations,
  section.user-persona .messages img.goals {
    width: 400px;
  }
  section.user-journey-map .titles h1 {
    font-size: 50px;
    color: var(--secondary);
  }
  section.user-journey-map .titles p {
    font-size: 21px;
    width: 400px;
  }
  section.user-journey-map img.user-journey-map-diagram {
    width: 400px;
  }
  section.information-architecture .titles h1 {
    font-size: 50px;
    color: var(--secondary);
    text-align: center;
  }
  section.information-architecture .titles p {
    font-size: 21px;
    width: 400px;
  }
  section.information-architecture img.ia-diagram {
    display: none;
  }
  section.information-architecture img.ia-diagram-mobile {
    display: block;
    width: 400px;
  }
  section.mind-map .titles h1 {
    font-size: 50px;
    color: var(--secondary);
    text-align: center;
  }
  section.mind-map .titles p {
    font-size: 21px;
    width: 400px;
  }
  section.mind-map img.mind-map {
    width: 400px;
  }
}
@media (max-width: 425px) {
  section.nmb-website {
    padding: 100px 0;
  }
  section.nmb-website h1 {
    font-size: 40px;
  }
  section.nmb-website span {
    font-size: 30px;
  }
  section.nmb-website img.nmb-website-design {
    width: 350px;
  }
  section.user-persona .main-titles h1 {
    font-size: 40px;
    color: var(--secondary);
  }
  section.user-persona .main-titles p {
    font-size: 21px;
    font-weight: 400;
    width: 350px;
  }
  section.user-persona .titles img.user {
    width: 200px;
  }
  section.user-persona .titles hr {
    border: 1px solid var(--gray);
  }
  section.user-persona .titles h1 {
    font-size: 40px;
    color: var(--secondary);
  }
  section.user-persona .titles p {
    color: var(--gray);
    font-size: 21px;
  }
  section.user-persona .messages {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  section.user-persona .messages img.personal-attributes,
  section.user-persona .messages img.frustrations,
  section.user-persona .messages img.goals {
    width: 350px;
  }
  section.user-journey-map .titles h1 {
    font-size: 40px;
    color: var(--secondary);
  }
  section.user-journey-map .titles p {
    font-size: 21px;
    width: 350px;
  }
  section.user-journey-map img.user-journey-map-diagram {
    width: 350px;
  }
  section.information-architecture .titles h1 {
    font-size: 40px;
    color: var(--secondary);
    text-align: center;
  }
  section.information-architecture .titles p {
    font-size: 21px;
    width: 350px;
  }
  section.information-architecture img.ia-diagram {
    display: none;
  }
  section.information-architecture img.ia-diagram-mobile {
    display: block;
    width: 350px;
  }
  section.mind-map .titles h1 {
    font-size: 50px;
    color: var(--secondary);
    text-align: center;
  }
  section.mind-map .titles p {
    font-size: 21px;
    width: 350px;
  }
  section.mind-map img.mind-map {
    width: 350px;
  }
}/*# sourceMappingURL=nmb-website.css.map */