section.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0;

    img {
        max-width: 1200px;
        padding: 0 40px;
    }

    img.mobile-mindmap {
        display: none;
    }
}

@media (max-width: 768px) {
    section.image {
        img {
            max-width: 1200px;
        }

        img.mobile-mindmap {
            display: block;
        }

        img.web-mindmap {
            display: none;
        }
    }
}

@media (max-width: 425px) {
    section.image {
        img {
            max-width: 1200px;
            padding: 0 5px;
        }

        img.mobile-mindmap {
            display: block;
        }

        img.web-mindmap {
            display: none;
        }
    }
}
