:root {
    --primary: #1B2F3F;
    --secondary: #2E465E;
    --white: #EBEFF2;
    --acent: #FFA656;
    --gray: #54595F;
}

.nmbweb {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../../assets/images/ui-ux/nmb/nmb-website/cover-page.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.overview {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    img.connect-logo {
        width: 200px;
    }

    h1 {
        font-size: 70px;
        color: var(--primary);
    }

    p {
        text-align: center;
        width: 600px;
        font-size: 25px;
        color: var(--gray);
    }

    img.nmb-logo {
        width: 150px;
    }
}

section.project-outline {
    padding: 200px 0;

    .container {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 0 auto;
        gap: 30px;

        div {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 30px;
                color: var(--gray);
            }

            p {
                font-size: 21px;
                color: var(--gray);
            }
        }
    }
}

section.user-persona {
    padding: 200px 0;
    background-color: var(--white);

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1.title {
                font-size: 70px;
                color: var(--primary);
            }
    
            p {
                font-size: 21px;
                color: var(--gray);
                width: 650px;
                text-align: center;
            }
        }

        .eli {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;

            img {
                width: 150px;
                margin-bottom: 20px;
            }
    
            h1.name {
                font-size: 30px;
                color: var(--primary);
            }

            .divider {
                border-bottom: 1px solid rgb(202, 202, 202);
                width: 150px;
                margin: 10px 0;
            }
    
            span {
                font-size: 21px;
                color: var(--gray);
                width: 650px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .personal-attributes {
            background-color: rgb(198, 241, 255);
        }
        .frustrations {
            background-color: rgb(255, 198, 198);
        }
        .goals {
            background-color: rgb(201, 255, 198);
        }

        .cards {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            width: 700px;
            height: 300px;

            h1 {
                font-size: 25px;
                color: var(--primary);
            }

            img.frustrations-icon,
            img.goals-icon {
                width: 50px;
                margin-bottom: 20px;
            }

            .divider {
                border-bottom: 1px solid rgb(117, 117, 117);
                width: 400px;
                margin: 10px 0;
            }

            ul {
                display: flex;
                flex-direction: column;
                width: 370px;
                line-height: 1.7rem;

                li {
                    font-size: 17px;
                    color: var(--gray);
                }
            }

            .personal-info {
                display: flex;
                flex-direction: row;
                gap: 30px;
                width: 400px;

                .info {
                    flex: 1;
                    
                    p {
                        font-weight: 700;
                        font-size: 17px;
                        color: var(--secondary);
                    }
                }

                .personal-data {
                    flex: 1;

                    p {
                        font-size: 17px;
                        color: var(--gray);
                    }
                }
            }
        }
    }
}

.information-architecture {
    background-color: var(--white);
}

section.steps {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        h1 {
            font-size: 70px;
            color: var(--primary);   
        }

        p {
            text-align: center;
            width: 700px;
            font-size: 25px;
            color: var(--gray);
        }
    }

    img.user-journey-map {
        width: 900px;
        margin-top: 70px;
    }
    img.iformation-architecture-web {
        width: 900px;
        margin-top: 70px;
    }
    img.iformation-architecture-mobile {
        width: 900px;
        margin-top: 70px;
        display: none;
    }
    img.mind-map {
        width: 100%;
        padding: 0 100px;
        margin-top: 70px;
    }
}

section.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .title {
        font-size: 70px;
        color: var(--primary);
    }
}

@media (max-width: 1024px) {

    section.overview {
        padding: 100px 0;
        gap: 40px;
    
        img.connect-logo {
            width: 200px;
        }
    
        h1 {
            font-size: 50px;
        }
    
        p {
            width: 600px;
            font-size: 21px;
        }
    
        img.nmb-logo {
            width: 150px;
        }
    }

    section.project-outline {
        padding: 100px 0;
    
        .container {
            width: 500px;
            margin: 0 auto;
            gap: 30px;
    
            div {
    
                h1 {
                    font-size: 25px;
                }
    
                p {
                    font-size: 17px;
                }
            }
        }
    }

    section.user-persona {
        padding: 100px 0;
    
        .container {
            gap: 50px;
    
            .title {
    
                h1.title {
                    font-size: 50px;
                }
        
                p {
                    font-size: 21px;
                    width: 550px;
                }
            }
    
            .eli {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                img {
                    width: 100px;
                    margin-bottom: 20px;
                }
        
                h1.name {
                    font-size: 30px;
                }
    
                .divider {
                    width: 150px;
                    margin: 10px 0;
                }
        
                span {
                    font-size: 17px;
                }
            }
    
            .personal-attributes {
                background-color: rgb(198, 241, 255);
            }
            .frustrations {
                background-color: rgb(255, 198, 198);
            }
            .goals {
                background-color: rgb(201, 255, 198);
            }
    
            .cards {
                border-radius: 30px;
                width: 700px;
                height: 300px;
    
                h1 {
                    font-size: 25px;
                }
    
                img.frustrations-icon,
                img.goals-icon {
                    width: 50px;
                    margin-bottom: 20px;
                }
    
                .divider {
                    border-bottom: 1px solid rgb(117, 117, 117);
                    width: 400px;
                    margin: 10px 0;
                }
    
                ul {
                    width: 370px;
                    line-height: 1.7rem;
    
                    li {
                        font-size: 17px;
                        color: var(--gray);
                    }
                }
    
                .personal-info {
                    gap: 30px;
                    width: 400px;
    
                    .info {
                        flex: 1;
                        
                        p {
                            font-weight: 700;
                            font-size: 17px;
                            color: var(--secondary);
                        }
                    }
    
                    .personal-data {
                        flex: 1;
    
                        p {
                            font-size: 17px;
                            color: var(--gray);
                        }
                    }
                }
            }
        }
    }
    
    .information-architecture {
        background-color: var(--white);
    }
    
    section.steps {
        padding: 100px 0;
    
        .header {
            gap: 30px;
    
            h1 {
                font-size: 50px;
                color: var(--primary);   
            }
    
            p {
                text-align: center;
                width: 500px;
                font-size: 21px;
                color: var(--gray);
            }
        }
    
        img.user-journey-map {
            width: 700px;
            margin-top: 70px;
        }
        img.iformation-architecture-web {
            width: 700px;
            margin-top: 70px;
        }
        img.iformation-architecture-mobile {
            width: 700px;
            margin-top: 70px;
            display: none;
        }
        img.mind-map {
            width: 100%;
            padding: 0 20px;
            margin-top: 70px;
        }
    }
    
    section.title {
        padding: 50px 0 10px 0;
        
        .title {
            font-size: 50px;
            color: var(--primary);
        }
    }
}

@media (max-width: 768px) {

    section.overview {
        padding: 50px 0;
        gap: 20px;
    
        img.connect-logo {
            width: 200px;
        }
    
        h1 {
            font-size: 50px;
        }
    
        p {
            width: 400px;
            font-size: 19px;
            line-height: 1.6rem;
        }
    
        img.nmb-logo {
            width: 150px;
        }
    }

    section.project-outline {
        padding: 100px 0;
    
        .container {
            width: 100%;
            padding: 0 60px;
            margin: 0 auto;
            gap: 30px;
    
            div {
    
                h1 {
                    font-size: 25px;
                }
    
                p {
                    font-size: 17px;
                }
            }
        }
    }

    section.user-persona {
        padding: 50px 0;
    
        .container {
            gap: 50px;
    
            .title {
    
                h1.title {
                    font-size: 40px;
                }
        
                p {
                    font-size: 17px;
                    width: 400px;
                }
            }
    
            .eli {
    
                img {
                    width: 70px;
                    margin-bottom: 20px;
                }
        
                h1.name {
                    font-size: 30px;
                }
    
                .divider {
                    width: 150px;
                    margin: 10px 0;
                }
        
                span {
                    font-size: 17px;
                }
            }
    
            .personal-attributes {
                background-color: rgb(198, 241, 255);
            }
            .frustrations {
                background-color: rgb(255, 198, 198);
            }
            .goals {
                background-color: rgb(201, 255, 198);
            }
    
            .cards {
                border-radius: 30px;
                width: 400px;
                height: 300px;
    
                h1 {
                    font-size: 25px;
                }
    
                img.frustrations-icon,
                img.goals-icon {
                    width: 50px;
                    margin-bottom: 20px;
                }
    
                .divider {
                    border-bottom: 1px solid rgb(117, 117, 117);
                    width: 300px;
                    margin: 10px 0;
                }
    
                ul {
                    width: 260px;
                    line-height: 1.7rem;
    
                    li {
                        font-size: 17px;
                        color: var(--gray);
                    }
                }
    
                .personal-info {
                    gap: 20px;
                    width: 300px;
    
                    .info {
                        flex: 1;
                        
                        p {
                            font-weight: 700;
                            font-size: 17px;
                            color: var(--secondary);
                        }
                    }
    
                    .personal-data {
                        flex: 1;
    
                        p {
                            font-size: 17px;
                            color: var(--gray);
                        }
                    }
                }
            }
        }
    }
    
    .information-architecture {
        background-color: var(--white);
    }
    
    section.steps {
        padding: 50px 0;
    
        .header {
            gap: 20px;
    
            h1 {
                font-size: 40px;
                color: var(--primary);   
            }
    
            p {
                text-align: center;
                width: 400px;
                font-size: 17px;
                color: var(--gray);
                line-height: 1.5rem;
            }
        }
    
        img.user-journey-map {
            width: 100%;
            padding: 0 50px;
            margin-top: 70px;
        }
        img.iformation-architecture-web {
            display: none;

        }
        img.iformation-architecture-mobile {
            width: 400px;
            margin-top: 70px;
            display: block;
        }
        img.mind-map {
            width: 100%;
            padding: 0 50px;
            margin-top: 70px;
        }
    }
    
    section.title {
        padding: 50px 0 10px 0;
        
        .title {
            font-size: 40px;
            color: var(--primary);
        }
    }
}

@media (max-width: 425px) {

    section.overview {
        padding: 50px 0;
        gap: 20px;
    
        h1 {
            font-size: 30px;
        }
    
        p {
            width: 100%;
            padding: 20px;
            font-size: 17px;
            line-height: 1.6rem;
        }
    
        img.nmb-logo {
            width: 100px;
        }
    }

    section.project-outline {
        padding: 100px 0;
    
        .container {
            width: 100%;
            padding: 0 60px;
            margin: 0 auto;
            gap: 30px;
    
            div {
    
                h1 {
                    font-size: 25px;
                }
    
                p {
                    font-size: 17px;
                }
            }
        }
    }

    section.user-persona {
        padding: 50px 0 0 0;
    
        .container {
            gap: 0px;
    
            .title {
    
                h1.title {
                    font-size: 30px;
                }
        
                p {
                    font-size: 17px;
                    width: 100%;
                    padding: 30px;
                }
            }
    
            .eli {
    
                img {
                    width: 70px;
                    margin-bottom: 20px;
                }
        
                h1.name {
                    font-size: 30px;
                }
    
                .divider {
                    width: 150px;
                    margin: 10px 0;
                }
        
                span {
                    font-size: 17px;
                    margin-bottom: 30px;
                }
            }
    
            .cards {
                border-radius: 0;
                width: 100%;
                height: 300px;
    
                h1 {
                    font-size: 25px;
                }
    
                .divider {
                    border-bottom: 1px solid rgb(117, 117, 117);
                    width: 300px;
                    margin: 10px 0;
                }
    
                ul {
                    width: 100%;
                    padding: 0 50px;
                    line-height: 1.7rem;
    
                    li {
                        font-size: 17px;
                        color: var(--gray);
                    }
                }
    
                .personal-info {
                    gap: 20px;
                    width: 100%;
                    padding: 0 20px;
    
                    .personal-data {
                        flex: 1;
    
                        p {
                            font-size: 17px;
                            color: var(--gray);
                        }
                    }
                }
            }
        }
    }
    
    section.steps {
        padding: 50px 0;
    
        .header {
            gap: 0px;
    
            h1 {
                font-size: 30px;
                color: var(--primary);   
            }
    
            p {
                text-align: center;
                width: 100%;
                padding: 20px;
            }
        }
    
        img.user-journey-map {
            width: 100%;
            padding: 20px;
            margin-top: 70px;
        }
        img.iformation-architecture-web {
            display: none;

        }
        img.iformation-architecture-mobile {
            width: 100%;
            padding: 20px;
            margin-top: 70px;
            display: block;
        }
        img.mind-map {
            width: 100%;
            padding: 0 10px;
            margin-top: 70px;
        }
    }
    
    section.title {
        padding: 50px 0 10px 0;
        
        .title {
            font-size: 30px;
            color: var(--primary);
        }
    }
}