section.main-title {
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .container {
        display: flex;
        flex-direction: column;
        height: 70vh;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    h1 {
        font-size: 40px;
        color: var(--primary);

    }
}