:root {
    --primary: #1B2F3F;
    --secondary: #2E465E;
    --white: #EBEFF2;
    --acent: #FFA656;
    --gray: #54595F;
}

.nmbconnect {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/ui-ux/nmb/nmb-mobile-app/NMBConnect.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.overview {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;

    img.connect-logo {
        width: 200px;
    }

    h1 {
        font-size: 70px;
        color: var(--primary);
    }

    p {
        text-align: center;
        width: 700px;
        font-size: 25px;
        color: var(--gray);
    }

    img.nmb-logo {
        width: 150px;
    }

    .tags {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 40px;

        .gray {
            border: 5px solid rgb(203, 203, 203);
        }

        .red {
            border: 5px solid rgb(232, 79, 153);
        }

        .orange {
            border: 5px solid rgb(230, 132, 14);
        }

        .tag {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            width: 300px;
            height: 130px;
            border-radius: 30px;

            p {
                text-align: center;
            }
        }
    }
}

section.my-role,
.design-process {
    background-color: var(--white);
}

.lo-fi-bg-image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/ui-ux/nmb/nmb-mobile-app/NMBConnect.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hi-fi-bg-image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/ui-ux/nmb/nmb-mobile-app/paperwork.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.visual-design {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/ui-ux/nmb/nmb-mobile-app/african-american-business-woman-working-computer-bar.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.sections-main-title {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h1.number {
        color: var(--white);
        font-weight: 100;
        margin: 0 18px 0 0;
        font-size: 70px;
    }

    h1.title {
        color: var(--white);
        font-size: 70px;
    }
}

section.screens {
    margin: 200px 0;

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        width: 1000px;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {

    section.overview {
        padding: 100px 0;
        gap: 50px;

        img.connect-logo {
            width: 150px;
        }

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 25px;

        }

        img.nmb-logo {
            width: 150px;
        }

        .tags {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }
    }

    section.sections-main-title {
        height: 80vh;

        h1.number {
            color: var(--white);
            font-weight: 100;
            margin: 0 18px 0 0;
            font-size: 50px;
        }

        h1.title {
            color: var(--white);
            font-size: 50px;
        }
    }

    section.screens {
        margin: 50px 0;

        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            width: 100%;
            padding: 0 50px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 768px) {

    section.overview {
        padding: 100px 0;
        gap: 30px;

        img.connect-logo {
            width: 130px;
        }

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 22px;
            width: 100%;
            padding: 0 30px;
        }

        img.nmb-logo {
            width: 130px;
        }

        .tags {
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;
        }
    }

    section.sections-main-title {
        height: 80vh;

        h1.number {
            color: var(--white);
            font-weight: 100;
            margin: 0 18px 0 0;
            font-size: 40px;
        }

        h1.title {
            color: var(--white);
            font-size: 40px;
        }
    }

    section.screens {
        margin: 50px 0;

        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 425px) {

    section.overview {
        padding: 50px 0;
        gap: 30px;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 17px;
            line-height: 1.4705882353;
        }

        img.nmb-logo {
            width: 130px;
        }

        img.design-process {
            width: 100%;
            padding: 10px;
        }

        .tags {
            width: 100%;
            padding: 0 10px;
            gap: 10px;

            .tag {
                width: 100%;
                border-radius: 20px;
            }
        }
    }

    section.sections-main-title {
        height: 60vh;

        h1.number {
            color: var(--white);
            font-weight: 100;
            margin: 0 18px 0 0;
            font-size: 25px;
        }

        h1.title {
            color: var(--white);
            font-size: 25px;
        }
    }

    section.screens {
        margin: 50px 0;

        .container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;
            margin: 0 auto;
        }
    }
}