section.apex-logo {
    padding: 100px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 400px;

    .logo-redraw,
    .typeface {
        width: 400px;
    }

    .main-logo {
        width: 800px;
    }

    .color-palette {
        max-width: 1000px;
    }
}

@media (max-width: 1024px) {
    section.apex-logo {
        gap: 300px;

        .logo-redraw,
        .typeface {
            width: 300px;
        }

        .main-logo {
            width: 600px;
        }
    }
}

@media (max-width: 768px) {
    section.apex-logo {
        padding: 100px 20px 0 20px;
        gap: 300px;

        .logo-redraw,
        .typeface {
            width: 300px;
        }

        .main-logo {
            width: 100%;
            padding: 0 30px;
        }
    }
}

@media (max-width: 425px) {
    section.apex-logo {
        padding: 100px 20px 0 20px;
        gap: 200px;

        .logo-redraw,
        .typeface {
            width: 200px;
        }

        .main-logo {
            width: 100%;
            padding: 0 30px;
        }
    }
}
