.hero-kinterior {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url(../../assets/images/pages/kinterior/kinterior-cover-page.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.kinterior-brand {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--white);

    h1 {
        font-size: 50px;
        color: var(--primary);
    }

    p {
        font-size: 27px;
        text-align: center;
        max-width: 500px;
    }

    img {
        width: 600px;
    }

    img.logo-mark {
        width: 100px;
    }
}

section.kinterior-logo {
    background-color: #fff;
}

section.logo-construction {
    padding: 0 10px;

    .filter {
        max-width: 1000px;
        margin: 0 auto;
        background-color: #2d2423;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;

        img {
            width: 400px;
        }
    }
}

section.golden-ratio {
    padding: 400px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .titles {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 50px;
            color: var(--primary);
        }

        p {
            font-size: 21px;
            font-weight: 300;
            width: 500px;
            text-align: center;
        }
    }

    img.graph {
        width: 500px;
    }

    img.logo {
        width: 800px;
    }
}

section.flags {
    padding: 0 15px 200px 15px;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
        gap: 20px;

        .web {
            background-image: url(../../assets/images/pages/kinterior/kinterior-flags.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 80vh;
        }

        .logo {
            background-color: var(--white);
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 300px;
            }
        }
    }
}

@media (max-width: 1024px) {
    section.kinterior-brand {
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        background-color: var(--white);

        h1 {
            font-size: 50px;
            color: var(--primary);
        }

        p {
            font-size: 24px;
            text-align: center;
            max-width: 500px;
        }

        img {
            width: 600px;
        }

        img.logo-mark {
            width: 100px;
        }
    }

    section.kinterior-logo {
        background-color: #fff;
    }

    section.logo-construction {
        padding: 0 20px;

        .filter {
            max-width: 1000px;
            margin: 0 auto;
            background-color: #2d2423;
            height: 100vh;
            width: 100%;

            img {
                width: 400px;
            }
        }
    }

    section.golden-ratio {
        padding: 200px 0;
        gap: 40px;

        .titles {
            h1 {
                font-size: 50px;
                color: var(--primary);
            }

            p {
                font-size: 21px;
                font-weight: 300;
                width: 500px;
                text-align: center;
            }
        }

        img.graph {
            width: 400px;
        }

        img.logo {
            width: 600px;
        }
    }

    section.flags {
        padding: 0 20px 20px 20px;

        .container {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);

            .web {
                height: 100vh;
            }

            .logo {
                height: 100vh;

                img {
                    width: 300px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    section.kinterior-brand {
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        background-color: var(--white);

        h1 {
            font-size: 50px;
            color: var(--primary);
        }

        p {
            font-size: 24px;
            text-align: center;
            max-width: 500px;
        }

        img {
            width: 400px;
        }

        img.logo-mark {
            width: 100px;
        }
    }

    section.kinterior-logo {
        background-color: #fff;
        padding: 100px 0 0 0;

        img {
            width: 400px;
        }
    }

    section.logo-construction {
        padding: 0 20px;

        .filter {
            height: 100vh;
            width: 100%;

            img {
                width: 300px;
            }
        }
    }

    section.golden-ratio {
        padding: 100px 0;
        gap: 40px;

        .titles {
            h1 {
                font-size: 50px;
                color: var(--primary);
            }

            p {
                font-size: 21px;
                font-weight: 300;
                width: 400px;
                text-align: center;
            }
        }

        img.graph {
            width: 200px;
        }

        img.logo {
            width: 400px;
        }
    }

    section.flags {
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .web {
                height: 70vh;
            }

            .logo {
                height: 70vh;

                img {
                    width: 150px;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    section.kinterior-brand {
        height: 60vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        background-color: var(--white);

        h1 {
            font-size: 40px;
            color: var(--primary);
        }

        p {
            font-size: 17px;
            text-align: center;
            width: 100%;
            padding: 0 30px;
        }

        img {
            width: 100%;
            padding: 0 30px;
        }

        img.logo-mark {
            width: 100%;
            padding: 0 30px;
        }
    }

    section.kinterior-logo {
        background-color: #fff;
        padding: 50px 0;

        img {
            width: 100%;
            padding: 0 30px;
        }
    }

    section.logo-construction {
        padding: 0 20px;

        .filter {
            height: 60vh;
            width: 100%;

            img {
                width: 100%;
                padding: 0 30px;
            }
        }
    }

    section.golden-ratio {
        padding: 70px 0;
        gap: 40px;

        .titles {
            h1 {
                font-size: 30px;
                color: var(--primary);
            }

            p {
                font-size: 17px;
                font-weight: 300;
                width: 100%;
                padding: 0 30px;
                text-align: center;
            }
        }

        img.graph {
            width: 100%;
            padding: 0 30px;
        }

        img.logo {
            width: 100%;
            padding: 0 30px;
        }
    }

    section.flags {
        .container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            .web {
                height: 60vh;
            }

            .logo {
                height: 60vh;

                img {
                    width: 100%;
                    padding: 0 50px;
                }
            }
        }
    }
}
