.hero-kinterior {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../../assets/images/Pages/kinterior/kinterior-cover-page.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

section.kinterior-brand {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}
section.kinterior-brand h1 {
  font-size: 50px;
  color: var(--primary);
}
section.kinterior-brand p {
  font-size: 24px;
  text-align: center;
  max-width: 500px;
}
section.kinterior-brand img {
  width: 600px;
}
section.kinterior-brand img.logo-mark {
  width: 100px;
}

section.kinterior-logo {
  background-color: #fff;
}

.kinterior-logo-construction {
  background-image: url(../../assets/images/Pages/kinterior/kinterior-logo-construction.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.kinterior-golden-ratio {
  background-image: url(../../assets/images/Pages/kinterior/kinterior-golden-ratio.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--gray);
}

.kinterior-color-palette {
  background-image: url(../../assets/images/Pages/kinterior/kinterior-color-palette.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.kinterior-social-media {
  background-image: url(../../assets/images/Pages/kinterior/kinterior-social-media.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.kinterior-cards {
  background-image: url(../../assets/images/Pages/kinterior/kinterior-cards.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.kinterior-card {
  background-image: url(../../assets/images/Pages/kinterior/kinterior-card.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.kinterior-bottle {
  background-image: url(../../assets/images/Pages/kinterior/kinterior-bottle.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.kinterior-bag {
  background-image: url(../../assets/images/Pages/kinterior/kinterior-bag.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.kinterior-posters {
  background-image: url(../../assets/images/Pages/kinterior/kinterior-posters.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.kinterior-flags {
  background-image: url(../../assets/images/Pages/kinterior/kinterior-flags.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--gray);
}

.kinterior-convas-logo {
  background-image: url(../../assets/images/Pages/kinterior/kinterior-convas-logo.webp);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--gray);
}

@media (max-width: 1024px) {
  section.kinterior-brand p {
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  section.kinterior-brand {
    height: 80vh;
  }
  section.kinterior-brand h1 {
    font-size: 40px;
    color: var(--primary);
  }
  section.kinterior-brand p {
    font-size: 17px;
    text-align: center;
    max-width: 400px;
  }
  section.kinterior-brand img {
    width: 300px;
  }
  section.kinterior-brand img.logo-mark {
    width: 100px;
  }
  section.kinterior-logo {
    background-color: #fff;
  }
}
@media (max-width: 425px) {
  section.kinterior-brand {
    height: 80vh;
  }
  section.kinterior-brand h1 {
    font-size: 40px;
    color: var(--primary);
  }
  section.kinterior-brand p {
    font-size: 17px;
    text-align: center;
    max-width: 350px;
  }
  section.kinterior-brand img {
    width: 300px;
  }
  section.kinterior-brand img.logo-mark {
    width: 100px;
  }
  section.kinterior-logo {
    background-color: #fff;
  }
}
.kinterior-thank-you {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Pages/kinterior/kinterior-cover-page.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}/*# sourceMappingURL=kinterior.css.map */