.hero-eac {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url(../../assets/images/pages/eac/eac-cover-page.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.large-section-content {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 100px;
    }

    .divider {
        border-bottom: 1px solid rgb(176, 176, 176);
        width: 250px;
        margin: 30px 0;
    }

    h1 {
        text-align: center;
        font-size: 50px;
        color: var(--secondary);
    }
}

section.eac-old-logo {
    padding: 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 600px;
    }

    h1 {
        text-align: center;
        font-size: 40px;
        color: var(--secondary);
        margin: 30px;
    }
}

section.eac-old-and-new-logo {
    padding: 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 600px;
    }
}

section.grid-app-icon {
    padding: 0px 10px 200px 10px;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
        gap: 20px;

        .icon {
            background-image: url(../../assets/images/pages/eac/app-icon-design.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 80vh;
        }

        .frame {
            background-color: #3bb5e6;
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 150px;
            }
        }

        .web {
            background-image: url(../../assets/images/pages/eac/eac-logo-website-design.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 80vh;
        }

        .logo {
            background-color: var(--white);
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img.vertical-logo {
                width: 100px;
            }

            img.main-logo {
                display: none;
            }
        }
    }
}

@media (max-width: 1024px) {
    section.large-section-content {
        padding: 100px 0;

        i {
            font-size: 80px;
        }

        h1 {
            font-size: 40px;
        }
    }

    section.eac-old-logo {
        padding: 100px 0;

        img {
            width: 500px;
        }

        h1 {
            font-size: 40px;
        }
    }

    section.eac-old-and-new-logo {
        padding: 100px 0;

        img {
            width: 500px;
        }
    }

    section.grid-app-icon {
        padding: 0 20px;

        .container {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);

            .icon {
                height: 80vh;
            }

            .frame {
                height: 80vh;

                img {
                    width: 150px;
                }
            }

            .web {
                height: 90vh;
            }

            .logo {
                height: 90vh;

                img.vertical-logo {
                    display: none;
                }

                img.main-logo {
                    width: 300px;
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    section.large-section-content {
        padding: 100px 0;

        img {
            width: 70px;
        }

        .divider {
            border-bottom: 1px solid rgb(176, 176, 176);
            width: 180px;
            margin: 20px 0;
        }

        h1 {
            font-size: 30px;
        }
    }

    section.eac-old-logo {
        padding: 100px 0;

        img {
            width: 400px;
        }

        h1 {
            font-size: 40px;
        }
    }

    section.eac-old-and-new-logo {
        padding: 100px 0;

        img {
            width: 400px;
        }
    }

    section.grid-app-icon {
        .container {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(1, 1fr);

            .icon {
                height: 90vh;
            }

            .frame {
                height: 90vh;

                img {
                    width: 150px;
                }
            }

            .web {
                height: 90vh;
            }

            .logo {
                height: 90vh;

                img.vertical-logo {
                    display: none;
                }

                img.main-logo {
                    width: 350px;
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    section.large-section-content {
        padding: 100px 0;

        h1 {
            font-size: 25px;
        }
    }

    section.eac-old-logo {
        padding: 50px 0;

        img {
            width: 100%;
            padding: 0 30px;
        }

        h1 {
            font-size: 30px;
        }
    }

    section.eac-old-and-new-logo {
        padding: 100px 0;

        img {
            width: 100%;
            padding: 0 30px;
        }
    }

    section.grid-app-icon {
        .container {
            gap: 20px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            .icon {
                height: 60vh;
            }

            .frame {
                height: 60vh;

                img {
                    width: 120px;
                }
            }

            .web {
                height: 60vh;
            }

            .logo {
                height: 60vh;

                img.vertical-logo {
                    display: none;
                }

                img.main-logo {
                    width: 100%;
                    padding: 0 30px;
                    display: block;
                }
            }
        }
    }
}
