section.featured-works {
    padding: 50px 40px 100px 40px;

    .container {
        max-width: 1200px;
        margin: 0 auto;

        h1.title {
            font-size: 48px;
            color: var(--secondary);
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;

            a.product-card {
                display: flex;
                height: 500px;
                text-decoration: none;
                border-radius: 5px;
                width: 100%;
                color: var(--white);

                &:hover {
                    .overlay {
                        opacity: 1;
                        border-radius: 5px;

                        .project-title {
                            margin-bottom: 0;
                        }
                    }
                }

                .overlay {
                    display: flex;
                    background-color: rgba(0, 0, 0, 0.5);
                    width: 100%;
                    height: 100%;
                    justify-content: start;
                    align-items: end;
                    padding: 20px;
                    opacity: 0;
                    transition: all 0.3s ease;
                    border-radius: 5px;

                    .project-title {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: -50px;
                        transition: all 0.3s ease;

                        span.title,
                        p.category {
                            font-size: 21px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                        }

                        p.category {
                            font-size: 17px;
                            color: var(--white);
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    section.featured-works {
        padding: 50px 20px 20px 20px;

        .container {
            margin: 0 auto;

            h1.title {
                font-size: 48px;
                color: var(--secondary);
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;

                a.product-card {
                    display: flex;
                    height: 400px;
                    text-decoration: none;
                    border-radius: 5px;
                    width: 100%;
                    color: var(--white);

                    .overlay {
                        padding: 20px;
                        opacity: 1;
                        transition: all 0.3s ease;
                        border-radius: 5px;

                        .project-title {
                            flex-direction: column;
                            align-items: start;
                            gap: 5px;
                            margin-bottom: 0;
                            transition: all 0.3s ease;

                            span.title,
                            p.category {
                                font-size: 21px;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                            }

                            p.category {
                                font-size: 17px;
                                color: var(--white);
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    section.featured-works {
        padding: 50px 20px 20px 20px;

        .container {
            margin: 0 auto;

            h1.title {
                font-size: 48px;
                color: var(--secondary);
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;

                a.product-card {
                    display: flex;
                    height: 400px;
                    text-decoration: none;
                    border-radius: 5px;
                    width: 100%;
                    color: var(--white);

                    .overlay {
                        padding: 20px;
                        opacity: 1;
                        transition: all 0.3s ease;
                        border-radius: 5px;

                        .project-title {
                            flex-direction: column;
                            align-items: start;
                            gap: 5px;
                            margin-bottom: 0;
                            transition: all 0.3s ease;

                            span.title,
                            p.category {
                                font-size: 21px;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                            }

                            p.category {
                                font-size: 15px;
                                color: var(--white);
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 630px) {
    section.featured-works {
        padding: 50px 20px 20px 20px;

        .container {
            margin: 0 auto;

            h1.title {
                font-size: 48px;
                color: var(--secondary);
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;

                a.product-card {
                    display: flex;
                    height: 400px;
                    text-decoration: none;
                    border-radius: 5px;
                    width: 100%;
                    color: var(--white);

                    .overlay {
                        display: flex;
                        background-color: rgba(0, 0, 0, 0.3);
                        width: 100%;
                        height: 100%;
                        justify-content: start;
                        align-items: end;
                        padding: 20px;
                        opacity: 1;
                        transition: all 0.3s ease;
                        border-radius: 5px;

                        .project-title {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;
                            margin-bottom: 0px;
                            transition: all 0.3s ease;

                            span.title,
                            p.category {
                                font-size: 21px;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                            }

                            p.category {
                                font-size: 17px;
                                color: var(--white);
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    section.featured-works {
        padding: 20px 20px;

        .container {
            margin: 0 auto;

            h1.title {
                font-size: 48px;
                color: var(--secondary);
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;

                a.product-card {
                    display: flex;
                    height: 300px;

                    .overlay {
                        opacity: 1;

                        .project-title {
                            flex-direction: column;
                            align-items: start;
                            gap: 5px;

                            span.title,
                            p.category {
                                font-size: 21px;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                            }

                            p.category {
                                font-size: 15px;
                                color: var(--white);
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
}
