:root {
  --primary: #1B2F3F;
  --secondary: #2E465E;
  --white: #EBEFF2;
  --acent: #FFA656;
  --gray: #54595F;
}

.hero-car-guvi {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(../../assets/images/Pages/car-guvi/car-guvi-images3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}
section.logo img {
  width: 600px;
  margin: 70px;
}

.international-red {
  background-image: linear-gradient(to bottom, rgb(192, 39, 45), rgba(0, 0, 0, 0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.vermilion {
  background-image: linear-gradient(to bottom, rgb(209, 61, 41), rgba(0, 0, 0, 0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.yellow-munsell {
  background-image: linear-gradient(to bottom, rgb(244, 198, 3), rgba(0, 0, 0, 0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors6.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cadet-grey {
  background-image: linear-gradient(to bottom, rgb(143, 164, 165), rgba(0, 0, 0, 0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors5.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.arsenic {
  background-image: linear-gradient(to bottom, rgb(56, 66, 66), rgba(0, 0, 0, 0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.colors-container {
  padding: 200px 15px 0 15px;
}
section.colors-container .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  margin: 0 auto;
  gap: 20px;
}
section.colors-container .colors {
  height: 70vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px 20px;
}
section.colors-container .colors p.title {
  position: absolute;
  writing-mode: vertical-rl;
  left: 0;
  font-size: 40px;
  font-weight: 300;
  color: var(--white);
  bottom: 20px;
}
section.colors-container .colors p {
  color: var(--white);
}

@media (max-width: 1024px) {
  section.logo {
    padding: 200px 0;
  }
  section.logo img {
    width: 500px;
    margin: 70px;
  }
  section.colors-container {
    padding: 20px 15px 20px 15px;
  }
  section.colors-container .container {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  section.colors-container .colors {
    height: 70vh;
  }
}
@media (max-width: 768px) {
  section.logo {
    padding: 50px 0 100px 0px;
  }
  section.logo img {
    width: 400px;
    margin: 70px;
  }
  section.colors-container {
    padding: 20px 15px 20px 15px;
  }
  section.colors-container .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  section.colors-container .colors {
    height: 70vh;
  }
}
@media (max-width: 425px) {
  section.logo {
    padding: 50px 0 100px 0px;
  }
  section.logo img {
    width: 300px;
    margin: 70px;
  }
  section.colors-container {
    padding: 20px 15px 0px 15px;
  }
  section.colors-container .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  section.colors-container .colors {
    height: 70vh;
  }
}/*# sourceMappingURL=car-guvi.css.map */