:root {
    --primary: #1B2F3F;
    --secondary: #2E465E;
    --white: #EBEFF2;
    --acent: #FFA656;
    --gray: #54595F;
}

.hero-car-guvi {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.0)), url(../../assets/images/Pages/car-guvi/car-guvi-images3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;

    img {
        width: 600px;
        margin: 70px;
    }
}

.international-red {
    background-image: linear-gradient(to bottom, rgba(192,39,45,1), rgba(0,0,0,0.0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors3.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.vermilion {
    background-image: linear-gradient(to bottom, rgba(209,61,41,1), rgba(0,0,0,0.0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors2.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.yellow-munsell {
    background-image: linear-gradient(to bottom, rgba(244,198,3,1), rgba(0,0,0,0.0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors6.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cadet-grey {
    background-image: linear-gradient(to bottom, rgba(143,164,165,1), rgba(0,0,0,0.0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors5.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.arsenic {
    background-image: linear-gradient(to bottom, rgba(56,66,66,1), rgba(0,0,0,0.0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.car-guvi-images3 {
    background-image: url(../../assets/images/Pages/car-guvi/car-guvi-colors.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.car-guvi-logo-on-card {
    background-image: url(../../assets/images/Pages/car-guvi/car-guvi-logo-on-card.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.car-guvi-pole-banner {
    background-image: url(../../assets/images/Pages/car-guvi/car-guvi-pole-banner.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.car-guvi-wall-banner {
    background-image: url(../../assets/images/Pages/car-guvi/car-guvi-wall-banner.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.car-guvi-water-bottle {
    background-image: url(../../assets/images/Pages/car-guvi/car-guvi-water-bottle.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.car-guvi-wall-logo {
    background-image: url(../../assets/images/Pages/car-guvi/car-guvi-wall-logo.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.car-guvi-mug {
    background-image: url(../../assets/images/Pages/car-guvi/car-guvi-mug.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.car-guvi-business-cards {
    background-image: url(../../assets/images/Pages/car-guvi/car-guvi-business-cards.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.car-guvi-concret-logo {
    background-image: url(../../assets/images/Pages/car-guvi/car-guvi-concret-logo.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.car-guvi-thank-you {
    background-image: linear-gradient(to bottom, rgba(10,45,106,0.3), rgba(10,45,106,0.3)), url(../../assets/images/Pages/car-guvi/car-guvi-thank-you.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {

    section.logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
    
        img {
            width: 400px;
            margin: 70px;
        }
    }
}

@media (max-width: 425px) {

    section.logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
    
        img {
            width: 300px;
            margin: 70px;
        }
    }
}