:root {
    --primary: #1B2F3F;
    --secondary: #2E465E;
    --white: #EBEFF2;
    --acent: #FFA656;
    --gray: #54595F;
}

.hero-car-guvi {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.0)), url(../../assets/images/Pages/car-guvi/car-guvi-images3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;

    img {
        width: 600px;
        margin: 70px;
    }
}

.international-red {
    background-image: linear-gradient(to bottom, rgba(192,39,45,1), rgba(0,0,0,0.0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors3.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.vermilion {
    background-image: linear-gradient(to bottom, rgba(209,61,41,1), rgba(0,0,0,0.0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors2.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.yellow-munsell {
    background-image: linear-gradient(to bottom, rgba(244,198,3,1), rgba(0,0,0,0.0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors6.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cadet-grey {
    background-image: linear-gradient(to bottom, rgba(143,164,165,1), rgba(0,0,0,0.0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors5.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.arsenic {
    background-image: linear-gradient(to bottom, rgba(56,66,66,1), rgba(0,0,0,0.0)), url(../../assets/images/Pages/car-guvi/car-guvi-colors.webp);background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 1024px) {

    section.logo {
        padding: 200px 0;
    
        img {
            width: 500px;
            margin: 70px;
        }
    }
}

@media (max-width: 768px) {

    section.logo {
        padding: 50px 0 100px 0px;
    
        img {
            width: 400px;
            margin: 70px;
        }
    }
}

@media (max-width: 425px) {

    section.logo {
        padding: 50px 0 100px 0px;
    
        img {
            width: 300px;
            margin: 70px;
        }
    }
}