.hero-louis {
    background-image: url(../../assets/images/pages/louis-kitchens/louis-kitchens-cover-page.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.louis-kitchens-logo {
    background-image: url(../../assets/images/pages/louis-kitchens/louis-kitchens-logo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.louis-logo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 600px;
    }
}

section.louis-white-logo {
    background-image: url(../../assets/images/pages/louis-kitchens/louis-kitchens-image1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .filter {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
    }

    img {
        width: 600px;
    }
}

.granite-gray {
    background-color: #686165;
}

.pale-silver {
    background-color: #c4b8b9;
}

.black-coffee {
    background-color: #382e2b;
}

.deer {
    background-color: #c08b65;
}

.coconut {
    background-color: #945f38;

    h2,
    p {
        color: var(--white);
    }
}

@media (max-width: 1024px) {
    section.louis-logo {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 500px;
        }
    }

    section.louis-white-logo {
        height: 80vh;
        margin-bottom: 20px;

        .filter {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
        }

        img {
            width: 500px;
        }
    }
}

@media (max-width: 768px) {
    section.louis-logo {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 400px;
        }
    }

    section.louis-white-logo {
        height: 80vh;

        .filter {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
        }

        img {
            width: 400px;
        }
    }
}

@media (max-width: 425px) {
    section.louis-logo {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            padding: 0 30px;
        }
    }

    section.louis-white-logo {
        height: 60vh;

        .filter {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
        }

        img {
            width: 100%;
            padding: 0 30px;
        }
    }
}
