.hero-louis {
    background-image: url(../../assets/images/Pages/louis-kitchens/louis-kitchens-cover-page.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.louis-kitchens-logo {
    background-image: url(../../assets/images/Pages/louis-kitchens/louis-kitchens-logo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.louis-logo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 600px;
    }
}

section.louis-white-logo {
    background-image: url(../../assets/images/Pages/louis-kitchens/louis-kitchens-image1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    .filter {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.3);
    }

    img {
        width: 600px;
    }
}

section.colors {
    display: flex;
    flex-direction: column;
    padding: 100px 10px;

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 1000px;
        gap: 20px;
        margin: 0 auto;

        .granite-gray,
        .pale-silver,
        .black-coffee,
        .deer {
            height: 300px;
            border-radius: 10px;
            padding: 30px;

            h2, p {
                color: var(--white);
            }
        }

        .granite-gray {
            background-color: #686165;
        }

        .pale-silver {
            background-color: #C4B8B9;
        }

        .black-coffee {
            background-color: #382E2B;
        }

        .deer {
            background-color: #C08B65;
        }
    }

    .main-color {
        width: 1000px;
        margin: 0 auto;
        margin-top: 20px;

        .coconut {
            background-color: #945F38;
            height: 300px;
            border-radius: 10px;
            padding: 30px;

            h2, p {
                color: var(--white);
            }
        }
    }
}

@media (max-width: 1024px) {

    section.louis-logo {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img {
            width: 500px;
        }
    }

    section.louis-white-logo {
        height: 80vh;
        
        .filter {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0,0,0,0.3);
        }
    
        img {
            width: 500px;
        }
    }

    section.colors {
        padding: 50px 10px;
    
        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 700px;
            gap: 20px;
        }
    
        .main-color {
            width: 700px;
            margin: 0 auto;
            margin-top: 20px;
    
            .teal-blue {
                background-color: #2F7992;
                height: 300px;
                border-radius: 10px;
                padding: 30px;
            }
        }
    }
}

@media (max-width: 768px) {

    section.louis-logo {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img {
            width: 400px;
        }
    }

    section.louis-white-logo {
        height: 60vh;
        
        .filter {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0,0,0,0.3);
        }
    
        img {
            width: 400px;
        }
    }

    section.colors {
        padding: 20px 10px;
        margin-top: 100px;
    
        .grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 420px;
            gap: 20px;
        }
    
        .main-color {
            width: 420px;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}

@media (max-width: 425px) {

    section.louis-logo {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img {
            width: 300px;
        }
    }

    section.louis-white-logo {
        height: 60vh;
        
        .filter {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0,0,0,0.3);
        }
    
        img {
            width: 300px;
        }
    }

    section.colors {
        padding: 20px 10px;
        margin-top: 30px;
    
        .grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 350px;
            gap: 20px;
        }
    
        .main-color {
            width: 350px;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}