* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img,
Video,
svg {
  width: 100%;
}

p {
  line-height: 1.38105;
  font-weight: 400;
  letter-spacing: 0.011em;
}

html {
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: "Simbah M", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --primary: #1B2F3F;
  --secondary: #2E465E;
  --white: #EBEFF2;
  --acent: #FFA656;
  --gray: #54595F;
}

@font-face {
  font-family: Simbah M;
  src: url(../../assets/fonts/SimbahM-SansBold.woff2);
  font-weight: bold;
}
@font-face {
  font-family: Simbah M;
  src: url(../../assets/fonts/SimbahM-SansMedium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: Simbah M;
  src: url(../../assets/fonts/SimbahM-Sans.woff2);
  font-weight: 300;
}
.button {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-top: 3px rgb(152, 152, 152) solid;
  color: var(--primary);
  font-size: 14px;
  padding: 13px 35px;
  margin-top: 20px;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 0.2rem;
  border-radius: 1px;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-top: 3px rgb(255, 255, 255) solid;
}

.button-light {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-top: 3px rgb(238, 238, 238) solid;
  color: var(--gray);
  font-size: 14px;
  padding: 13px 35px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-radius: 1px;
  transition: all 0.3s ease 0s;
}
.button-light:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 3px rgb(255, 255, 255) solid;
}

.dark-button {
  text-decoration: none;
  background-color: #314a63;
  border-top: 3px solid var(--primary);
  color: var(--white);
  font-size: 14px;
  padding: 13px 35px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-radius: 1px;
  transition: all 0.3s ease 0s;
}
.dark-button:hover {
  background-color: var(--primary);
  border-top: 3px solid #577ca2;
  color: var(--acent);
}

.scrolldown {
  position: relative;
  width: 30px;
  height: 50px;
  border: 3px solid var(--white);
  opacity: 0.8;
  border-radius: 25px;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 0px -5px 3px 1px rgba(228, 234, 237, 0.3);
  animation: scrolldown-anim 2s infinite;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    opacity: 0;
    transform: translate(-50%, 20px);
    height: 10px;
  }
  100% {
    opacity: 0;
    height: 3px;
  }
}
section.hero {
  padding: 260px 20px 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.hero .hero-metadata {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 630px;
}
section.hero .hero-metadata .hero-title {
  font-size: 80px;
  font-family: Simbah M;
  color: var(--secondary);
}
section.hero .hero-metadata .hero-page-text {
  font-size: 25px;
  color: var(--gray);
}

section.works-images {
  display: flex;
  padding: 200px 15px;
}
section.works-images .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  gap: 200px;
}

section.projects-hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 50px;
  gap: 20px;
}
section.projects-hero img {
  width: 400px;
  margin-bottom: 50px;
  opacity: 0.5;
}
section.projects-hero h1 {
  font-size: 70px;
  color: var(--white);
  padding: 0 20px;
  text-align: center;
}
section.projects-hero h1.eca-title-mobile {
  display: none;
}
section.projects-hero p, section.projects-hero i {
  font-size: 25px;
  color: var(--white);
  width: 700px;
  text-align: center;
}

section.project-header {
  display: flex;
  margin: 0 20px;
}
section.project-header .project-header-content {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 100px 10px;
  gap: 20px;
}
section.project-header .project-header-content img.logo-symbol {
  width: 300px;
}
section.project-header .project-header-content img.icon {
  width: 100px;
  margin-bottom: -1px;
}
section.project-header .project-header-content img.design-process-icon {
  width: 500px;
  margin-bottom: -1px;
}
section.project-header .project-header-content span.category {
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 700;
}
section.project-header .project-header-content h1.project-title {
  font-size: 70px;
  font-family: Simbah M;
  color: var(--secondary);
}
section.project-header .project-header-content h2.sub-project-title {
  font-size: 30px;
  font-family: Simbah M;
  color: var(--secondary);
}
section.project-header .project-header-content h3.project-title {
  font-size: 30px;
  font-family: Simbah M;
  color: var(--secondary);
}
section.project-header .project-header-content img {
  margin: 50px 0;
  width: 500px;
}
section.project-header .project-header-content .project-description .title {
  font-family: Simbah M;
}
section.project-header .project-header-content .project-description h2 {
  font-family: Simbah M;
  font-size: 40px;
  color: var(--primary);
  margin-bottom: 20px;
}
section.project-header .project-header-content .project-description img {
  width: 150px;
  margin-bottom: 20px;
}
section.project-header .project-header-content .project-description p {
  font-size: 23px;
  line-height: 1.4211;
  font-weight: 400;
  letter-spacing: 0.012em;
  color: var(--gray);
  margin-bottom: 20px;
}
section.project-header .project-header-content .project-description .tags {
  margin-top: 20px;
}

section.ui-projects .container {
  width: 1500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 100px auto;
  gap: 20px;
}
section.ui-projects .container .uiux-project {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 50px;
  gap: 10px;
}

@media (max-width: 1024px) {
  section.projects-hero {
    height: 90vh;
    padding-bottom: 30px;
    gap: 15px;
  }
  section.projects-hero img {
    width: 350px;
    margin-bottom: 100px;
    opacity: 0.5;
  }
  section.projects-hero h1 {
    font-size: 50px;
    text-align: center;
  }
  section.projects-hero p, section.projects-hero i {
    font-size: 20px;
    width: 600px;
  }
  section.hero {
    padding: 160px 20px 100px 20px;
    justify-content: end;
  }
  section.hero .hero-metadata {
    max-width: 500px;
  }
  section.hero .hero-metadata .hero-title {
    font-size: 50px;
  }
  section.hero .hero-metadata .hero-page-text {
    font-size: 20px;
  }
  section.project-header .project-header-content h1.project-title {
    font-size: 50px;
  }
  section.works-images {
    display: flex;
    padding: 20px 15px;
  }
  section.works-images .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  section.projects-hero {
    padding-bottom: 30px;
    gap: 15px;
  }
  section.projects-hero h1 {
    font-size: 40px;
    text-align: center;
  }
  section.projects-hero p, section.projects-hero i {
    font-size: 20px;
    width: 400px;
  }
  section.hero {
    padding: 160px 20px 50px 20px;
    justify-content: end;
  }
  section.hero .hero-metadata {
    max-width: 500px;
  }
  section.hero .hero-metadata .hero-title {
    font-size: 50px;
  }
  section.hero .hero-metadata .hero-page-text {
    font-size: 20px;
  }
  section.project-header {
    display: flex;
    margin: 0 20px;
  }
  section.project-header .project-header-content {
    width: 400px;
  }
  section.project-header .project-header-content h1.project-title {
    font-size: 50px;
  }
  section.project-header .project-header-content h2.sub-project-title {
    font-size: 20px;
    font-family: Simbah M;
    color: var(--secondary);
  }
  section.project-header .project-header-content .project-description p {
    font-size: 17px;
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .button {
    font-size: 13px;
    padding: 12px 25px;
  }
  .button-light {
    font-size: 13px;
    padding: 12px 25px;
  }
  .dark-button {
    font-size: 13px;
    padding: 12px 25px;
  }
  section.projects-hero {
    height: 70vh;
    padding-bottom: 30px;
    gap: 15px;
  }
  section.projects-hero img {
    display: none;
    width: 250px;
    margin-bottom: 20px;
    opacity: 0.5;
  }
  section.projects-hero h1 {
    font-size: 40px;
    text-align: center;
  }
  section.projects-hero h1.eca-title {
    display: none;
  }
  section.projects-hero h1.eca-title-mobile {
    display: block;
  }
  section.projects-hero p, section.projects-hero i {
    font-size: 20px;
    width: 300px;
  }
  section.hero {
    padding: 160px 20px 50px 20px;
  }
  section.hero .hero-metadata {
    max-width: 500px;
    width: 350px;
  }
  section.hero .hero-metadata .hero-title {
    font-size: 30px;
  }
  section.hero .hero-metadata .hero-page-text {
    font-size: 17px;
  }
  section.project-header {
    margin: 0 20px;
  }
  section.project-header .project-header-content {
    width: 350px;
    padding: 50px 0px;
    gap: 20px;
  }
  section.project-header .project-header-content img.logo-mark {
    width: 100px;
  }
  section.project-header .project-header-content h1.project-title {
    font-size: 40px;
  }
  section.project-header .project-header-content h2.sub-project-title {
    font-size: 20px;
    font-family: Simbah M;
    color: var(--secondary);
  }
  section.project-header .project-header-content .project-description p {
    font-size: 17px;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=componants.css.map */